In [1]:
import warnings
warnings.filterwarnings('ignore')

from pymongo import MongoClient
import pprint

import copy
import pandas as pd

import requests

from bs4 import BeautifulSoup

In [2]:
df = pd.read_csv('newest_celeb_list.csv')

In [3]:
client = MongoClient('localhost', 27017)
db = client.metroid
pages = db.pages

In [ ]:
'''
<div class="detail-info flipthis-highlight" style="width: 440px;">
<div style="float: left; width: 310px; overflow: hidden; background: #;">
<div class="fl">
<a class="tenky-modry" href="https://famouspeople.astro-seek.com/famous-birthdays/16-september">16 September </a> <a class="tenky-modry" href="https://famouspeople.astro-seek.com/famous-birth-year/1945">1945</a>
 - 02:44h</div>

<div class="cl p5"></div>
<div class="fl" style="width: 110px;"><strong>Birth place</strong>:</div>
<div class="fl" style="width: 190px; background: #;">
Chicago, Illinois</div>
<div class="cl p2"></div>
<div class="cl p2"></div>
'''
print('Waddup')

In [36]:
l = 104786
info_lst = []
r_dict = {}

for i in range(0,1):
    proto_celeb_name = df.iloc[i]['name_and_date']
    hmm = proto_celeb_name.index('(')
    almost_celeb_name = proto_celeb_name[:hmm - 1]
    celeb_name = almost_celeb_name.replace(' ', '_')
    
    r = 'r_' + celeb_name
    current_celeb_url = df.iloc[i]['url_list']
    r_val = requests.get(current_celeb_url)
    print(r + ' is returning ' + str(r_val))
    r_dict[r] = r_val
    pages.insert_one({'html': r_val.content})

    soup = BeautifulSoup(r_val.content, 'html')
    
    div = soup.find('div', {'style': 'float: left; width: 310px; overflow: hidden; background: #;'})
    t = div.text.strip()
    #t = ''.join(t)
    t = t[29:]
    t = t.replace('\n', '')
    info_lst.append(t)
    
    '''
    rows = table.find_all('tr')
    all_rows = []
    empty_row = {'name_and_date': None, 'name_url': None}

    for row in rows[0::2]:
        new_row = copy.copy(empty_row)
        columns = row.find_all('td')
        new_row['name_and_date'] = columns[0].text.strip()
        new_row['name_url'] = columns[0].a['href']
        #new_row['flag'] = columns[2].text.strip()
        #new_row['country'] = columns[3].text.strip()
        all_rows.append(new_row)

    for elemelem in all_rows:
        valvalval.append(elemelem)

    all_row_dict[r] = valvalval
    '''

r_Stephen_Arroyo is returning <Response [200]>

In [37]:
temporary_df = pd.DataFrame([0,1,2,3])

In [38]:
temporary_df

   0
0  0
1  1
2  2
3  3