In [2]:
import pandas as pd
import numpy as np
import re
import string

from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

from flatlib.datetime import Datetime
from flatlib.geopos import GeoPos
from flatlib.chart import Chart
from flatlib import const

from timezonefinder import TimezoneFinder
from datetime import datetime
from pytz import timezone, utc

In [3]:
df = pd.read_csv('some-csvs-to-work-with/hi_its_politicians_df.csv')

In [4]:
df.head()

,name,info,occupation
0,Arnold_Schwarzenegger,Gender:MaleDate of Birth:30 July 1947 - 04:10...,r_politicians
1,John_Gavin,Gender:MaleDate of Birth:8 April 1931 - 00:30...,r_politicians
2,Ronald_Reagan,Gender:MaleDate of Birth:6 February 1911 - 04...,r_politicians
3,Shirley_Temple,Gender:FemaleDate of Birth:23 April 1928 - 21...,r_politicians
4,Adolf_Hitler,Gender:MaleDate of Birth:20 April 1889 - 18:3...,r_politicians

In [5]:
copy_df = df
copy_df['count'] = np.arange(len(copy_df))

In [6]:
def adios_weird_characters(i):
    s = copy_df.iloc[i].info
    printable = set(string.printable)
    return ''.join(filter(lambda x: x in printable, s))

In [7]:
copy_df['info_norm'] = copy_df['count'].apply(adios_weird_characters)
#copy_df_mod = copy_df.drop(['info'], axis=1)
copy_df_mod = copy_df
copy_df_mod = copy_df_mod.drop(['info'], axis=1)
copy_df_mod = copy_df_mod.rename(columns={"info_norm": "info"})

In [8]:
copy_df_mod.head()

,name,occupation,count,info
0,Arnold_Schwarzenegger,r_politicians,0,Gender:MaleDate of Birth:30 July 1947 - 04:10...
1,John_Gavin,r_politicians,1,Gender:MaleDate of Birth:8 April 1931 - 00:30...
2,Ronald_Reagan,r_politicians,2,Gender:MaleDate of Birth:6 February 1911 - 04...
3,Shirley_Temple,r_politicians,3,Gender:FemaleDate of Birth:23 April 1928 - 21...
4,Adolf_Hitler,r_politicians,4,Gender:MaleDate of Birth:20 April 1889 - 18:3...

In [12]:
def get_birthtime_info(row):
    b_info = copy_df_mod['info'][row]
    try:
        if '*' in b_info:
            return None
        if b_info == None:
            return None
        if '(gregor.)' in b_info:
            #b_info_mod_time = [b_info_mod_time[0][:-9]]
            b_info = b_info.replace('(gregor.)','')
        elif 'h(gregor.' in b_info:
            #b_info_mod_time = b_info_mod_time[:-8]
            b_info = b_info.replace('(gregor.','')
        b_info_mod = ''
        if 'Gender:FemaleDate of Birth:' in b_info:
            b_info_mod = b_info.replace('Gender:FemaleDate of Birth:', '')
        elif 'Gender:MaleDate of Birth:' in b_info:
            b_info_mod = b_info.replace('Gender:MaleDate of Birth:', '')
        if 'Birth place:' in b_info_mod:
            b_info_mod = b_info_mod.split('Birth place:')
        elif 'Country:' in b_info_mod:
            b_info_mod = b_info_mod.split('Country:')
        b_info_mod_time = b_info_mod[0]

        b_info_mod_time = b_info_mod_time.split(' - ')
        #print(b_info_mod_time)
        #print('...end of get_birthtime_info')

        return b_info_mod_time
    except:
        return None

def get_birthplace_info(row):
    b_info = copy_df_mod['info'][row]
    try:
        if '*' in b_info:
            return None
        if b_info == None:
            return None
        if '(gregor.)' in b_info:
            #b_info_mod_place = b_info_mod_place[:-9]
            b_info = b_info.replace('(gregor.)','')
        elif '(gregor.' in b_info:
            #b_info_mod_place = b_info_mod_place[:-8]
            b_info = b_info.replace('h(gregor.','')
        b_info_mod = ''
        if 'Gender:FemaleDate of Birth:' in b_info:
            b_info_mod = b_info.replace('Gender:FemaleDate of Birth:', '')
        elif 'Gender:MaleDate of Birth:' in b_info:
            b_info_mod = b_info.replace('Gender:MaleDate of Birth:', '')
        else:
            return None
        if 'Birth place:' in b_info_mod:
            b_info_mod = b_info_mod.split('Birth place:')
        elif 'Country:' in b_info_mod:
            b_info_mod = b_info_mod.split('Country:')
        b_info_mod_place = b_info_mod[1].split('Age:')
        b_info_mod_place = b_info_mod_place[0]
        b_info_mod_place = b_info_mod_place.split('Country:')
        #print(b_info_mod_place)
        #print('...end of get_birthplace_info')

        return b_info_mod_place
    except:
        return None

def convert_month_name_to_number(month):
    month = month.lower()
    if month == 'january':
        return 1
    elif month == 'february':
        return 2
    elif month == 'march':
        return 3
    elif month == 'april':
        return 4
    elif month == 'may':
        return 5
    elif month == 'june':
        return 6
    elif month == 'july':
        return 7
    elif month == 'august':
        return 8
    elif month == 'september':
        return 9
    elif month == 'october':
        return 10
    elif month == 'november':
        return 11
    elif month == 'december':
        return 12
    else:
        print('Not_a_month')
        return None

def time_formatter(time_lst):
    if time_lst == None:
        return None
    if len(time_lst) == 2:
        first = time_lst[0]
        month = " ".join(re.split("[^a-zA-Z]*", first))
        month = month.replace(' ', '')
        first = first.replace(' ', '')
        temp = first.split(month)
        day = temp[0]
        year = temp[1]
        time = time_lst[1]
        time = time[:-1]
        ans = [year, convert_month_name_to_number(month), day, time]
        print(ans)
        return ans
    elif len(time_lst) == 1:
        first = time_lst[0]
        month = " ".join(re.split("[^a-zA-Z]*", first))
        month = month.replace(' ', '')
        #print(month)
        first = first.replace(' ', '')
        temp = first.split(month)
        day = temp[0]
        year = temp[1]
        ans = [year, convert_month_name_to_number(month), day]
        print(ans)
        return ans
    print('No_time_info')
    return None
        
    
def place_formatter(place_lst):
    if place_lst == None:
        return None
    if len(place_lst) == 1:
        name = place_lst[0].split(', ')
        try:
            ans = name[1]
            return ans
        except:
            ans = name[0]
            return ans
    else:
        city_info = place_lst[0]
        country_info = place_lst[1]
        if ',' in city_info:
            city_info = city_info.split(', ')
        else:
            city_info = [city_info]
        if ',' in country_info:
            country_info = country_info.split(', ')
            country_info = country_info[1]
        if len(city_info) == 2:
            city = city_info[0]
            state = city_info[1]
        #elif len(city_info) == 1:
        else:
            city = city_info[0]
            state = 'no_state'
        country = country_info
        if state == 'no_state':
            ans = [city, country]
            ans = ', '.join(ans)
        else:
            ans = [city, state, country]
            ans = ', '.join(ans)
        print(ans)
        return ans

def make_time_column(row):
    return time_formatter(get_birthtime_info(row))

def make_place_column(row):
    return place_formatter(get_birthplace_info(row))

In [13]:
print(get_birthtime_info(0))
#print(make_time_column(0))
#convert_month_name_to_number('May')

['30 July  1947', '04:10h']

In [14]:
#copy_df_mod['birthtime'] = copy_df_mod['count'].apply(make_time_column)
'''
for _ in range(80):
    print(copy_df_mod.iloc[_].info)
    print(get_birthtime_info(_))
    print(make_time_column(_))


print(copy_df_mod.iloc[76].info)
print(get_birthtime_info(76))
print(copy_df_mod.iloc[77].info)
print(get_birthtime_info(77))
print(copy_df_mod.iloc[78].info)
print(get_birthtime_info(78))
print(copy_df_mod.iloc[79].info)
print(get_birthtime_info(79))
print(copy_df_mod.iloc[80].info)
print(get_birthtime_info(80))
print(copy_df_mod.iloc[81].info)
print(get_birthtime_info(81))
print(copy_df_mod.iloc[82].info)
print(get_birthtime_info(82))
'''
copy_df_mod['birthplace'] = copy_df_mod['count'].apply(make_place_column)


'''
for _ in range(80):
    print(copy_df_mod.iloc[_].info)
    print(get_birthplace_info(_))
    print(make_place_column(_))


print(copy_df_mod.iloc[32].info)
print(get_birthplace_info(32))
print(place_formatter(get_birthplace_info(32)))
print(copy_df_mod.iloc[33].info)
print(get_birthplace_info(33))
print(place_formatter(get_birthplace_info(33)))
'''

Graz, Austria
Los Angeles, California, United States
Tampico, Illinois, United States
Santa Monica, California, United States
Braunau am Inn, Austria
Oakland, California, United States
New York, New York, United States
Cairo, Egypt
Washington, District of Columbia, United States
Tikrit, Iraq
Brookline, Massachusetts, United States
Rosenheim, Germany
Alexandria, Egypt
Alsenz, Germany
Mannheim, Germany
Sovetsk, Russia
Wesel, Germany
Kalinovka, Russia
Samara, Russia
Stockholm, Sweden
Washington, District of Columbia, United States
Scorniceti, Romania
Fleinhausen-Dinkelscherben, Germany
Warsaw, Poland
Phnom Penh, Cambodia
Vyatskoye, Russia
Uljanovsk, Russia
Belovodskoe, Kyrgyzstan
Privolnoye, Russia
Vinva, Belarus
Saint Petersburg, Russia
Porbandar, India
Siang-tchan, China
Edinburgh, Scotland, United Kingdom
Dniprodzerynsk, Ukraine
Frankfurt, Germany
Atlanta, Georgia, United States
Woodstock, England, United Kingdom
New York, New York, United States
Uniontown, Pennsylvania, United States
Lobos, Argentina
Reichenau, Germany
Lbeck, Germany
La Trinit-sur-Mer, France
Woodmere, New York, United States
Coco Solo, Panama
Milan, Italy
Salvador, Brazil
Rouen, France
Neuilly-sur-Seine, France
Wakefield, Virginia, United States
Braintree, Massachusetts, United States
Schnhausen, Germany
Trier, Germany
Bologna, Italy
Rennes, France
London, England, United Kingdom
Chequers, England, United Kingdom
Arcis-sur-Aube, France
Zrich, Switzerland
Wuppertal, Germany
Mumbai, India
Rostock, Germany
Brackenheim, Germany
Munich, Germany
Kim Lien, Vietnam
Petnjica, Montenegro
Novocherkassk, Russia
Grand Chute, Wisconsin, United States
Hamburg, Germany
Obljaj, Bosnia and Herzegovina
Jerusalem, Israel
Arras, France
New York, New York, United States
Bar Harbor, Maine, United States
Vimieiro, Portugal
Baltimore, Maryland, United States
Grantham, England, United Kingdom
Bereslavka, Ukraine
Beijing, China
Levallois-Perret, France
Dnipro, Ukraine
Piteti, Romania
Sochi, Russia
Namur, Belgium
Al Ain, United Arab Emirates
Abu Dhabi, United Arab Emirates
Sorche, Iran
Abyan, Yemen
Krakw, Poland
Taipei, Taiwan
London, England, United Kingdom
Qardaha, Syria
Damascus, Syria
safjrur, Iceland
London, England, United Kingdom
Prague, Czech Republic
London, England, United Kingdom
Eastbourne, England, United Kingdom
New York, New York, United States
Redange-sur-Attert, Luxembourg
Allahabad, India
Windlestone, England, United Kingdom
Rome, Italy
Warsaw, Poland
Tokyo, Japan
Nice, France
Ludwigshafen, Germany
Frth, Germany
Jnkping, Sweden
Paris, France
Thetford, England, United Kingdom
Asnires, France
Cologne, Germany
Jarnac, France
Mit Abu El Kom, Egypt
Ubon Ratchathani, Thailand
Koblenz, Germany
Teramo, Italy
Courbevoie, France
Vienna, Austria
Paris, France
Casablanca, Morocco
Turin, Italy
Sydney, New South Wales, Australia
Naples, Italy
Montpellier, France
Seneffe, Belgium
Stoke-on-Trent, Staffordshire, United Kingdom
Nice, France
Porto, Portugal
Grainville-Ymauville, France
Hammersmith, United Kingdom
Lyon, France
Noville, Belgium
Pau, France
Palermo, Italy
Paris, France
Charenton-le-Pont, France
Strasbourg, France
Boulogne-sur-Mer, France
Rome, Italy
Neuilly-sur-Seine, France
London, United Kingdom
La Tronche, France
Dublin, Ireland
Dendermonde, Belgium
Rome, Italy
Paris, France
Paris, France
Oulu, Finland
Neuilly-sur-Seine, France
Paris, France
Hautmont, France
Paris, France
Farnborough, Kent, United Kingdom
Pisa, Italy
Cologne, Germany
Liverpool, United Kingdom
Poitiers, France
Wood, South Dakota, United States
Bruges, Belgium
Boston, Massachusetts, United States
Boston, Massachusetts, United States
Boston, Massachusetts, United States
Lausanne, Switzerland
Cairo, Egypt
Chascoms, Argentina
Paris, France
Villeneuve-le-Roi, France
Turin, Italy
Mhow, India
London, England, United Kingdom
London, England, United Kingdom
Dedham, Massachusetts, United States
Saint Paul, Minnesota, United States
Le Creusot, France
Utrecht, Netherlands
Marseille, France
Vienna, Austria
Hood River, Oregon, United States
Hamburg, Germany
Cervantes, Philippines
Paniqui, Philippines
Wednesbury, England, United Kingdom
Hanover, Germany
Paris, France
Iowa City, Iowa, United States
New Delhi, India
Milwaukee, Wisconsin, United States
London, England, United Kingdom
Paris, France
Thizy-les-Bourgs, France
Beckum, Germany
Maulvrier, France
Madrid, Spain
Los Angeles, California, United States
Santiago, Chile
Nevers, France
Waterloo, Iowa, United States
Paris, France
Oneida, Tennessee, United States
Houston, Texas, United States
Bewdley, England, United Kingdom
Smyrna, Turkey
Salvador, Brazil
Boulogne-Billancourt, France
Wheel, Kentucky, United States
La Tronche, France
Saint-Denis, Runion
Marietta, Ohio, United States
Paris, France
Hagen, Germany
Terre Haute, Indiana, United States
Bordres-sur-l'chez, France
Cologne, Germany
Hersbruck, Germany
Roermond, Netherlands
Posk, Poland
Paris, France
Liverpool, England, United Kingdom
Mission, Texas, United States
Dville-ls-Rouen, France
Sassari, Italy
Bogot, Colombia
Saint-Maurice, France
Hamburg, Germany
Tredegar, Wales, United Kingdom
Larkana, Pakistan
Karachi, Pakistan
Isfahn, Iran
Moulins, France
Chicago, Illinois, United States
Dannevirke, Manawatu-Wanganui, New Zealand
Roubaix, France
Schaffhausen, Switzerland
Boston, Massachusetts, United States
Paris, France
Sheffield, England, United Kingdom
Caracas, Venezuela
Grenoble, France
St. Louis, Missouri, United States
Poitiers, France
Mantua, Italy
Paris, France
Amsterdam, Netherlands
Cuttack, India
Annecy, France
Alma, New Brunswick, Canada
Angoulme, France
Luisant, France
Dornburg, Hesse, Germany
Levroux, France
Brighton, England, United Kingdom
Ayrskite, Scotland, United Kingdom
St. Louis, Missouri, United States
Wuppertal, Germany
Nantes, France
Sterling, Ohio, United States
Rochdale, England, United Kingdom
Libourne, France
Oshawa, Ontario, Canada
Chattanooga, Oklahoma, United States
Washington, District of Columbia, United States
San Francisco, California, United States
San Francisco, California, United States
San Francisco, California, United States
Mineola, Texas, United States
Oslo, Norway
Mnster, Germany
Dublin, Ireland
Salem, Illinois, United States
Hamm, Germany
Perth, Scotland, United Kingdom
Mount Vernon, New York, United States
Sheboygan, Wisconsin, United States
London, England, United Kingdom
Carolina, Puerto Rico
London, England, United Kingdom
Los Angeles, California, United States
Cincinnati, Ohio, United States
Dinuba, California, United States
Paul Roux, South Africa
Deerfield, New Hampshire, United States
Toulouse, France
Plourivo, France
Pallanza, Italy
Talence, France
Le Mans, France
Pavia, Italy
Roermond, Netherlands
Bellshill, Scotland, United Kingdom
Port Alberni, British Columbia, Canada
Glasgow, Scotland, United Kingdom
Cowdenbeath, Scotland, United Kingdom
Guilford NC, North Carolina, United States
Somerville, Massachusetts, United States
Toulon, France
So Paulo, Brazil
Nolay, France
Matraville, New South Wales, Australia
Paducah, Kentucky, United States
Bremen, Germany
Brussels, Belgium
Bayonne, France
Turin, Italy
Senlis, France
Marlborough, Massachusetts, United States
Basse Pointe, Martinique
Chagny, Sane-et-Loire, France
Sherbrooke, Qubec, Canada
Grozny, Russia
Paris, France
Saugus, Massachusetts, United States
Belfort, France
Northcote, Victoria, Australia
Nkhata Bay, Malawi
Ipswich, Massachusetts, United States
Blenheim Palace, United Kingdom
Hasselt, Belgium
Boston, Massachusetts, United States
Hamilton, Waikato, New Zealand
High River, Alberta, Canada
Mouilleron-le-Captif, France
Ghent, Belgium
Montauban, France
Clonakilty, Ireland
Rio de Janeiro, Brazil
Potenza, Italy
Magdalena de Kino, Mexico
London, England, United Kingdom
Pontevedra, Spain
Lynn, Massachusetts, United States
Floresville, Texas, United States
Bellshill, Scotland, United Kingdom
Bruges, Belgium
Eupen, Belgium
Cusset, France
Brest, France
Auxerre, France
Sassari, Italy
Montpellier, France
Montpellier, France
Ajaccio, France
Martigny, Switzerland
Kintore, Scotland, United Kingdom
Chicago, Illinois, United States
Palo Alto, California, United States
Milan, Italy
Boulogne-Billancourt, France
Limestone, Tennessee, United States
Marion, Louisiana, United States
Coimbra Municipality, Portugal
New York, New York, United States
New York, New York, United States
Saint-Ghislain, Belgium
Chicago, Illinois, United States
Chicago, Illinois, United States
Dayton, Texas, United States
Limoges, France
Nrac, France
Aberdeen, South Dakota, United States
Boulogne-Billancourt, France
Saint-Rmy-sur-Avre, France
Paris, France
Marietta, Ohio, United States
Kfar Saba, Israel
Laredo, Texas, United States
Pieve Tesino, Italy
Paris, France
Beaufort West, South Africa
Le Bignon-Mirabeau, France
New York, New York, United States
Rabat, Morocco
Mortsel, Belgium
Crdoba, Argentina
Melbourne, Victoria, Australia
Akron, Ohio, United States
Gurigny, France
Paris, France
Marsillargues, France
Lichtenfels, Germany
Torres Novas, Portugal
Paris, France
Uccle, Belgium
Kuang-an, China
New York, New York, United States
Antwerp, Belgium
Albany, New York, United States
Glasgow, Scotland, United Kingdom
Owosso, Michigan, United States
Cerignola, Italy
Antwerp, Belgium
Florence, Italy
London, England, United Kingdom
Russell, Kansas, United States
Texing, Austria
Assen, Netherlands
Helsinki, Finland
Brandon, Vermont, United States
Aurillac, France
Lurdy, France
Adelaide, South Australia, Australia
New York, New York, United States
Montreal, Qubec, Canada
Villeneuve-Saint-Georges, France
Boston, Massachusetts, United States
Oroville, California, United States
Saint Cloud, Minnesota, United States
Bridlington, England, United Kingdom
Bridlington, England, United Kingdom
Oakville, Ontario, Canada
St. Louis, Missouri, United States
Heidelberg, Germany
Neumarkt in der Oberpfalz, Germany
Seneca, South Carolina, United States
Kassel, Germany
Berlin, Germany
Chicago, Illinois, United States
Lbeck, Germany
Gonzaga, Philippines
Frth, Germany
Camden, New Jersey, United States
Mnsingen, Germany
Reims, France
Seattle, Washington, United States
Leuven, Belgium
Passo de Camaragibe, Brazil
Isernia, Italy
Bziers, France
Azerat, France
Bologna, Italy
Janesville, Wisconsin, United States
San Francisco, California, United States
Porto, Portugal
Minas, Uruguay
Saint-Di, France
Chicago, Illinois, United States
Bologna, Italy
Boston, Massachusetts, United States
Gerabronn, Germany
Washington, District of Columbia, United States
Linlithgow, United Kingdom
Needham, Massachusetts, United States
Spokane, Washington, United States
Owensboro, Kentucky, United States
Boston, Massachusetts, United States
Velsen, Netherlands
Le Pellerin, France
Marmande, France
Itabuna, Brazil
New York, New York, United States
Melbourne, Victoria, Australia
Hill of Fearn, Scotland, United Kingdom
Orillia, Ontario, Canada
Summit MO, Missouri, United States
Edinburgh, Scotland, United Kingdom
Goslar, Germany
Moscow, Russia
Paris, France
Dundee, Scotland, United Kingdom
Cahors, France
New Delhi, India
New Delhi, India
Lusiana, Italy
Los Angeles, California, United States
Qubec City, Qubec, Canada
Gissi, Italy
Los Angeles, California, United States
Halle, Germany
Trani, Italy
St. Louis, Missouri, United States
Barry, Wales, United Kingdom
Cincinnati, Ohio, United States
Rotterdam, Netherlands
Harrisburg, Pennsylvania, United States
Rome, Italy
Mondovi, Italy
New York, New York, United States
Hawarden, Wales, United Kingdom
Dsseldorf, Germany
Chicago, Illinois, United States
Eugene, Oregon, United States
Paris, France
Phoenix, Arizona, United States
Los Angeles, California, United States
Tolna, Hungary, Hungary
Verona, Italy
McAllen, Texas, United States
Washington, District of Columbia, United States
Vosselaar, Belgium
Melbourne, Victoria, Australia
Cincinnati, Ohio, United States
Fort Benning, Georgia, United States
Ales, Italy
Mordano, Italy
Sioux City, Iowa, United States
Brisbane, Queensland, Australia
Vienna, Austria
Filettino, Italy
Coshocton, Ohio, United States
Potowomut, Rhode Island, United States
Fremantle, Western Australia, Australia
Mlheim an der Ruhr, Germany
Pontedera, Italy
Antwerp, Belgium
Seville, Spain
Cambridge, Massachusetts, United States
Padua, Italy
Rio Claro, Brazil
Limoges, France
Sankt Plten, Austria
pernay, France
Schwerin, Germany
Parede, Portugal
Vimy, France
Brest, France
Berlin, Germany
Nairobi, Kenya
Gloggnitz, Austria
Edinburgh, Scotland, United Kingdom
Dayton, Ohio, United States
Kota Bharu, Malaysia
Motherwell, Scotland, United Kingdom
Cumming, Iowa, United States
Walters, Oklahoma, United States
Toronto, Ontario, Canada
Ottawa, Kansas, United States
Lower Merion PA, Pennsylvania, United States
Park Forest Village, Pennsylvania, United States
Dallas, Oregon, United States
Castlebar, Ireland
Gurcy-le-Chtel, France
Bordertown, South Australia, Australia
Moline, Illinois, United States
London, England, United Kingdom
Schwelm, Germany
Pittsburgh, Pennsylvania, United States
Merseburg, Germany
Olenica, Poland
Monroe, North Carolina, United States
Troyes, France
Lyon, France
Boston, Massachusetts, United States
Worcester, Massachusetts, United States
Charleston, South Carolina, United States
Boone, North Carolina, United States
Sydney, New South Wales, Australia
Halle, Germany
Plymouth, England, United Kingdom
Ghent, Belgium
Burkesville, Kentucky, United States
Hanover, Germany
Glens Falls, New York, United States
Byrdstown, Tennessee, United States
Wallace, South Dakota, United States
Greensboro, North Carolina, United States
Harpenden, England, United Kingdom
Marlborough, England, United Kingdom
Roswell, New Mexico, United States
Grozny, Russia
Bilzen, Belgium
Brussels, Belgium
Goch, Germany
Isnello, Italy
Honolulu, Hawaii, United States
Folkestone, England, United Kingdom
Everett, Washington, United States
Dallas, Texas, United States
Rutland, Vermont, United States
Ellwangen, Germany
Montreal, Qubec, Canada
Bedford, England, United Kingdom
Houston, Texas, United States
Colebrook, New Hampshire, United States
Meudon, France
Bourg-la-Reine, France
Helena, Montana, United States
Bergerac, France
Mont-de-Marsan, France
Trier, Germany
Athens, Greece
Casablanca, Morocco
Chmelnyckyj, Ukraine
Milwaukee, Wisconsin, United States
Jazd, Iran
Madisonville, Tennessee, United States
Sydney, New South Wales, Australia
Inverness, Scotland, United Kingdom
Boston, Massachusetts, United States
Boston, Massachusetts, United States
Boston, Massachusetts, United States
Boston, Massachusetts, United States
Brisbane, Queensland, Australia
Kitchener, Ontario, Canada
Tredegar, Wales, United Kingdom
San Bernardino, California, United States
Colfax, Washington, United States
Dsseldorf, Germany
Calgary, Alberta, Canada
d, Poland
Milwaukee, Wisconsin, United States
Tyler, Minnesota, United States
Leicester, England, United Kingdom
New York, New York, United States
Frankfurt, Germany
Milwaukee, Wisconsin, United States
Nagyvzsony, Hungary
Oborniki lskie, Poland
Belgrade, Serbia
Petrograd, Russia
Avignon, France
Vienna, Austria
Essen, Germany
Cleveland, Ohio, United States
Cap-Haitien, Haiti
Los Angeles, California, United States
New York, New York, United States
Palermo, Italy
Dillingen, Germany
Madison, Wisconsin, United States
Mirecourt, France
Chteldon, France
Saint-Germain-en-Laye, France
Beselich, Germany
Biesheim, France
St. Louis, Missouri, United States
Pavilly, France
Trang, Thailand
Sherbrooke, Qubec, Canada
Naples, Italy
Nmbrecht, Germany
Stamford, Connecticut, United States
Leipzig, Germany
Stockholm, Sweden
Ludvika, Sweden
New York, New York, United States
Nahant, Massachusetts, United States
Winnfield, Louisiana, United States
Fubine, Italy
Neuilly-sur-Seine, France
Calgary, Alberta, Canada
Gibson City, Illinois, United States
Rotterdam, Netherlands
Sundern, Germany
La Crosse, Wisconsin, United States
Indianapolis, Indiana, United States
Rotterdam, Netherlands
Cleveland, Ohio, United States
Cannes, France
Bellshill, Scotland, United Kingdom
Glasgow, Scotland, United Kingdom
London, England, United Kingdom
Vancouver, British Columbia, Canada
Carshalton, England, United Kingdom
So Paulo, Brazil
Mainz, Germany
Southampton, England, United Kingdom
Ulrum, Netherlands
Thoissey, France
Laoag City, Philippines
Orange, France
Honfleur, France
London, England, United Kingdom
Evergem, Belgium
Messina, Italy
Jouy, Eure-et-Loir, France
Saint-Jean-de-Matha, Qubec, Canada
Catania, Italy
Rovigo, Italy
Cartignies, France
Martigues, France
Paris, France
Verviers, Belgium
Salerno, Italy
Marietta, Georgia, United States
Scituate, Massachusetts, United States
Watkins, Minnesota, United States
Glasgow, Scotland, United Kingdom
Avon, South Dakota, United States
Ottawa, Ontario, Canada
Havana, Cuba
Melun, France
Kalikut, India
Stafford, Virginia, United States
Vincennes, France
Cleveland, Ohio, United States
Brockton, Massachusetts, United States
Baltimore, Maryland, United States
London, England, United Kingdom
Dundee, Scotland, United Kingdom
Poarevac, Serbia
Waterville, Maine, United States
Boston, Massachusetts, United States
Amstetten, Austria
Flers, France
Steyr, Austria
Ceylon, Minnesota, United States
Varese, Italy
Lillington, North Carolina, United States
Morrisania, New York, United States
Templemore, Ireland
Louisville, Kentucky, United States
London, England, United Kingdom
Windsor, England, United Kingdom
Etterbeek, Belgium
Tulsa, Oklahoma, United States
Auckland, Auckland, New Zealand
Arnsberg, Germany
Erfurt, Germany
Harbor Beach, Michigan, United States
Brookline, Massachusetts, United States
Worcester, Massachusetts, United States
Rumford, Maine, United States
Piombino, Italy
Earlville, New York, United States
Tanger, Morocco
Montreal, Qubec, Canada
Mayen, Germany
Tokyo, Japan
Wisconsin Rapids, Wisconsin, United States
Imperia, Italy
Leipzig, Germany
Jerusalem, Israel
Butyn', Russia
Weymouth, Massachusetts, United States
Faenza, Italy
Tel Aviv-Yafo, Israel
So Joo Del Rei, Brazil
Nuneaton, England, United Kingdom
Melfi, Italy
Lyon, France
Brandenburg, Germany
Brussels, Belgium
La Crosse, Wisconsin, United States
Cambridge, Massachusetts, United States
Cambridge, Massachusetts, United States
Launceston, Tasmania, Australia
Monte Aprazvel, Brazil
Binjamina-Giv'at Ada, Israel
Paris, France
Plymouth, England, United Kingdom
Jacksonville, Illinois, United States
Findlay, Ohio, United States
Rostock, Germany
Helsinki, Finland
Vienna, Austria
Paris, France
Teliai, Lithuania
Long Branch, New Jersey, United States
Manchester, England, United Kingdom
Chios, Greece
Werl, Germany
Gretz-Armainvilliers, France
Montreal, Qubec, Canada
Houston, Texas, United States
Grasse, France
Chicago, Illinois, United States
Soignies, Belgium
Schweich, Germany
Salerno, Italy
Valdengo, Italy
Victoriaville, Qubec, Canada
Charlton, England, United Kingdom
Westminster, England, United Kingdom
Texarkana, Texas, United States
Haskell, Texas, United States
Najac, France
Roubaix, France
Poggio Bustone, Italy
Kirchbichl, Austria
Chicago, Illinois, United States
Bertrix, Belgium
Saint-Symphorien-sur-Coise, France
Chaumont, France
Westminster, England, United Kingdom
Potsdam, Germany
Rennes, France
Ablon-sur-Seine, France
Montboudif, France
Bziers, France
Clermont-Ferrand, France
Birmingham, England, United Kingdom
Humboldt, South Dakota, United States
Kiev, Ukraine
London, England, United Kingdom
Campo Grande, Brazil
Indianapolis, Indiana, United States
Baler, Philippines
Vigan, Philippines
Pedregulho, Brazil
Poitiers, France
Santiago de Compostela, Spain
Ginnerup, Denmark
Berlin, Germany
Elgin, Illinois, United States
Bonham, Texas, United States
Paris, France
Milwaukee, Wisconsin, United States
Florence, Italy
Barcelonnette, France
Bishop's Stortford, England, United Kingdom
Council Grove, Kansas, United States
Pasadena, California, United States
Saint-Boniface-de-Shawinigan, Qubec, Canada
Edinburgh, Scotland, United Kingdom
London, England, United Kingdom
Baltimore, Maryland, United States

Johnstone, Scotland, United Kingdom
Lee Holm, United Kingdom
Boston, Massachusetts, United States
Marseille, France
Montreuil, France
Seraing, Belgium
Talmont-sur-Gironde, France
Glasgow, Scotland, United Kingdom
Paris, France
Toulon, France
London, England, United Kingdom
Lisala, Democratic Republic of the Congo
Loudun, France
Edinburgh, Scotland, United Kingdom
Broughty Ferry, Scotland, United Kingdom
Tulle, France
Bromley, England, United Kingdom
Loriga, Portugal
Porto, Portugal
San Ignacio, Belize
Augsburg, Germany
London, England, United Kingdom
Sitab Diara, India
Bedford, England, United Kingdom
Hertford, England, United Kingdom
Saint-tienne, France
San Francisco, California, United States
Princeton, New Jersey, United States
Strasbourg, France
Marietta, Ohio, United States
Edinburgh, Scotland, United Kingdom
Schaerbeek, Belgium
Kansas City, Missouri, United States
Bonn, Germany
Palermo, Italy
Portland, Oregon, United States
Trieste, Italy
Pittsburgh, Pennsylvania, United States
Vado Ligure, Italy
Turin, Italy
Boujad, Morocco
Boston, Massachusetts, United States
Portage, Wisconsin, United States
Nancy, France
Rome, Italy
Kompong Thom Province, Cambodia
Leuven, Belgium
Leppvirta, Finland
Birmingham, Alabama, United States
London, England, United Kingdom
Barcelona, Spain
Saint-Gratien, France
Aberdeen, Scotland, United Kingdom
London, England, United Kingdom
Pekan, Malaysia
Annecy, France
Doncaster, England, United Kingdom
Dover, England, United Kingdom
Springfield, Massachusetts, United States
Doln Dunajovice, Czech Republic
Aubagne, France
Long Preston, England, United Kingdom
Blagdon, England, United Kingdom
Domne, France
Philadelphia, Pennsylvania, United States
Gosport, England, United Kingdom
Bordeaux, France
La Gacilly, France
Gotha, Germany
Morlaix, France
Detroit, Michigan, United States
Bennettsville, South Carolina, United States
London, England, United Kingdom
Marseille, France
Los Angeles, California, United States
Aversa, Italy
Forli, Italy
Naples, Italy
N, United States
Winchester, Virginia, United States
Foggia, Italy
Cagliari, Italy
London, England, United Kingdom
Kassel, Germany
Bonn, Germany
Paris, France
Leonberg, Germany
Chemno, Poland
New York, New York, United States
Vienna, Austria
Chicago, Illinois, United States
Winnipeg, Manitoba, Canada
St. Louis, Missouri, United States
Ickenham, England, United Kingdom
Eugene, Oregon, United States
Sydney, New South Wales, Australia
George Town, Malaysia
Rahway, New Jersey, United States
Stockport, England, United Kingdom
Rome, Italy
Wichita, Kansas, United States
Evesham, England, United Kingdom
Exeter, England, United Kingdom
Tralee, Ireland
Epsom, England, United Kingdom
Watervliet, New York, United States
London, England, United Kingdom
Aberdeen, Scotland, United Kingdom
Los Angeles, California, United States
Avondale Lanarks, United Kingdom
St Andrews, Scotland, United Kingdom
Dundee, Scotland, United Kingdom
Breda, Netherlands
Paris, France
Oldenburg, Germany
Jingzhou, China
Denver, Colorado, United States
Glasgow, Scotland, United Kingdom
Montegne, Belgium
Dax, France
Sheffield, Alabama, United States
Edgefield, South Carolina, United States
Anderlecht, Belgium
Zwijndrecht, Belgium
Zagorje, Croatia
Craiova, Romania
Pforzheim, Germany
Pontedera, Italy
Rebordelo, Portugal
Houston, Texas, United States
Stratford-upon-Avon, England, United Kingdom
Leuven, Belgium
Englewood, New Jersey, United States
Bilston, England, United Kingdom
Hopfgarten, Austria
Middelburg, Netherlands
Kortrijk, Belgium
Morbegno, Italy
Alenon, France
Pittsburgh, Pennsylvania, United States
Stockholm, Sweden
Washington, District of Columbia, United States
New York, New York, United States
Harrow, England, United Kingdom
Dundee, Scotland, United Kingdom
Annan, Scotland, United Kingdom
Huntington Park, California, United States
Guangzhou, China
Kvta, Pakistan
Cambuslang, Scotland, United Kingdom
Giebelstadt, Germany
Windlesham, England, United Kingdom
Glasgow, Scotland, United Kingdom
Waremme, Belgium
Henderson, Texas, United States
Worcester, England, United Kingdom
Carmarthen, Wales, United Kingdom
Union, New Jersey, United States
Dunoon, Scotland, United Kingdom
Freiburg, Germany
Freiburg, Germany
Edinburgh, Scotland, United Kingdom
Ellezelles, Belgium
Lemsford, England, United Kingdom
Glasgow, Scotland, United Kingdom
Vilvoorde, Belgium
Antwerp, Belgium
Mekka, Saudi Arabia
Lincoln, Nebraska, United States
Greenock, Scotland, United Kingdom
Stamford, Connecticut, United States
Valladolid, Spain
Orlans, France
Kenty, Poland
Omaha, Nebraska, United States
Stamford, England, United Kingdom
Novosibirsk, Russia
Moscow, Russia
Limassol, Cyprus
Milan, Italy
Eboli, Italy
Milan, Italy
Brunswick, Germany
Ustren, Bulgaria
Crossgar, Northern Ireland, United Kingdom
Cdiz, Spain
Bonn, Germany
Ploieti, Romania
Tukums, Latvia
Salerno, Italy
Druskininkai, Lithuania
Athens, Greece
Rome, Italy
Bucharest, Romania
Costacciaro, Italy
Rome, Italy
Cosenza, Italy
Archanes, Greece
Folkestone, England, United Kingdom
Bucharest, Romania
Sliema, Malta
Chislehurst, England, United Kingdom
Tulle, France
Aarhus, Denmark
Zaragoza, Spain
Kilkenny, Ireland
Badajoz, Spain
Sant Quirze del Valls, Spain
Sofia, Bulgaria
Kalocsa, Hungary
Nyregyhza, Hungary
Lemgo, Germany
Blaj, Romania
Madrid, Spain
Lisbon, Portugal
Budapest, Hungary
Florence, Italy
Vibo Valentia, Italy
London, England, United Kingdom
Rome, Italy
Athens, Greece
Salamanka, Spain
La Chapelle-sur-Erdre, France
Bexhill, England, United Kingdom
Baden bei Wien, Austria
Szeged, Hungary
Piet, Malta
Kiel, Germany
Angers, France
Ridderkerk, Netherlands
Sint-Truiden, Belgium
Odense, Denmark
Gernrode, Thuringia, Germany
Perg, Austria
Vicenza, Italy
Sassari, Italy
Bettola, Italy
Milan, Italy
Gdask, Poland
Sofia, Bulgaria
iauliai, Lithuania
Orsingen-Nenzingen, Germany
Skravena, Bulgaria
Oegstgeest, Netherlands
London, England, United Kingdom
Constana, Romania
Hasenmoor, Germany
Aabenraa, Denmark
Bra, Italy
Bja, Tunisia
Bronte, Italy
Rotterdam, Netherlands
Paignton, England, United Kingdom
Turin, Italy
La Pobla de Segur, Spain
Feldkirch, Austria
Pieve Tesino, Italy
Cassano Magnago, Italy
Valea Mare, Olt, Romania
Athens, Greece
Markala, Mali
Le Plessis-Trvise, France
Tulle, France
Oxford, England, United Kingdom
Zaandam, Netherlands
Tipton, England, United Kingdom
San Giorgio delle Pertiche, Italy
Lrrach, Germany
Belgrade, Serbia
Bilzen, Belgium
Sanremo, Italy
Saarbrcken, Germany
Schwerin, Germany
Gtersloh, Germany
Venice, Italy
Vilnius, Lithuania
Rotterdam, Netherlands
Klagenfurt, Austria
Giessen, Germany
Vaa de Jos, Romania
Cork, Ireland
Brila, Romania
Droitwich Spa, England, United Kingdom
Vadum, Denmark
Drobeta-Turnu Severin, Romania
Attard, Malta
Mannheim, Germany
miowice, Lesser Poland Voivodeship, Poland
Valencia, Spain
Lula, Italy
Newcastle upon Tyne, England, United Kingdom
Randers, Denmark
Montemor-o-Novo, Portugal
Milan, Italy
Madrid, Spain
Vicenza, Italy
Lisbon, Portugal
Valletta, Malta
Karlsruhe, Germany
Calais, France
Bronte, Italy
Palermo, Italy
Gvle, Sweden
Ibahernando, Spain
Bronte, Italy
Rome, Italy
Ploieti, Romania
Craiova, Romania
Ghent, Belgium
Bristol, England, United Kingdom
Palermo, Italy
Lisbon, Portugal
Pontebba, Italy
St. Breward, United Kingdom
Southport, England, United Kingdom
Eindhoven, Netherlands
Carbonia, Italy
Medgidia, Romania
Montlimar, France
Coimbra Municipality, Portugal
Ploieti, Romania
Venice, Italy
Hesdin, France
Paris, France
Cork, Ireland
Limbricht, Netherlands
Bucharest, Romania
Trgu Frumos, Romania
Speyer, Germany
Helsinki, Finland
Dublin, Ireland
Miercurea Ciuc, Romania
Chorzow, Poland
London, England, United Kingdom
Duisburg, Germany
Acqui Terme, Italy
London, England, United Kingdom
Danceu, Romania
Falborz, Poland
Pandrup, Denmark
Popia, Vraa, Bulgaria
Hlohov, Poland
Ruse, Bulgaria
Montegne, Belgium
Aalborg, Denmark
Bucharest, Romania
Roiorii de Vede, Romania
Iraklion, Greece
Slatina, Romania
Lytham Saint Annes, England, United Kingdom
Pcs, Hungary
Dublin, Ireland
Vlaardingen, Netherlands
Guadalajara, Mexico
The Hague, Netherlands
Brussels, Belgium
Spaubeek, Netherlands
Naples, Italy
Venice, Italy
Vicenza, Italy
Dublin, Ireland
Gooik, Belgium
Kaunas, Lithuania
Nador, Morocco
Collelongo, Italy
Lige, Belgium
Budapest, Hungary
Boisseuil, France
Monts, Indre-et-Loire, France
Berngau, Germany
Colombo, Sri Lanka
Montenero di Bisaccia, Italy
Daimiel, Spain
Kaunas, Lithuania
Vilnius, Lithuania
Kladno, Czech Republic
Sodupe, Spain
Mortsel, Belgium
Athens, Greece
Sofia, Bulgaria
Sofia, Bulgaria
Sofia, Bulgaria
Sofia, Bulgaria
Nsud, Romania
Canterano, Italy
Budapest, Hungary
Riga, Latvia
Cosenza, Italy
Enschede, Netherlands
Mirandela, Portugal
Dublin, Ireland
Nicosia, Cyprus
Thessaloniki, Greece
Birkenhead, England, United Kingdom
Hanover, Germany
Leer, Germany
Bucharest, Romania
Brila, Romania
Ixelles, Belgium
Bolzano, Italy
Munich, Germany
Mnsters, Sweden
Leuven, Belgium
London, England, United Kingdom
Steenderen, Netherlands
Bad Saarow, Germany
Amberg, Germany
Valpaos, Portugal
Belver, Portugal
Gleisdorf, Austria
Houthem, Netherlands, Netherlands
Treorchy, United Kingdom
Tredegar, Wales, United Kingdom
Chester, England, United Kingdom
Stockholm, Sweden
Genoa, Italy
Vienna, Austria
Budapest, Hungary
Augsburg, Germany
Porto Moniz, Portugal
Santa Cruz de la Palma, Spain
Mairano, Italy
Saint-Quentin, France
Porto, Portugal
Troviscal, Portugal
Slobozia, Romania
Rome, Italy
Vsters, Sweden
Bad Nauheim, Germany
Neukirchen-Vluyn, Germany
Supino, Italy
Jelen Hora, Poland
Gloucester, England, United Kingdom
Lebork, Poland
Amiens, France
Paris, France
Lon, Landes, France
Melilla, Spain
Esmoriz, Portugal
Heroica Veracruz, Mexico
S.Roque do Pico, Portugal
Kutno, Poland
Boca, Romania
Arad, Romania
Naples, Italy
Urmston, England, United Kingdom
Frankfurt, Germany
So Paulo, Brazil
Budapest, Hungary
Sziksz, Hungary
Deta, Romania, Romania
Valencia, Spain
Barakaldo, Spain
Madrid, Spain
Morra De Sanctis, Italy
Gijn, Spain
Paris, France
Toulouse, France
Vienna, Austria
Montreuil, France
Frankfurt, Germany
Teliai, Lithuania
Athens, Greece
Warsaw, Poland
Wrocaw, Poland
Berlin, Germany
Las Palmas, Spain
Genk, Belgium
Warsaw, Poland
Madrid, Spain
Dublin, Ireland
Aire-sur-l'Adour, France
Ludhiana, India
Ragusa, Italy
Volterra, Italy
Thessaloniki, Greece
Neuruppin, Germany
Budapest, Hungary
Forchies-la-Marche, Belgium
Athens, Greece
Treviso, Italy
The Hague, Netherlands
Gotha, Germany
Ettelbruck, Luxembourg
Liepja, Latvia
Wrocaw, Poland
Lisbon, Portugal
Wrocaw, Poland
Butzbach, Germany
Verona, Italy
Brussels, Belgium
Przysta, Warmian-Masurian Voivodeship, Poland
Warsaw, Poland
Spenge, Germany
Heidenheim, Germany
Cerdanyola del Valls, Spain
Hamrun, Malta
Metz, France
Langenfeld, Germany
Leer, Germany
Eupen, Belgium
Bolzano, Italy
Cambrai, France
Barcelona, Spain
Peumerit, France
Lisbon, Portugal
Budapest, Hungary
Escalona del Alberche, Spain
Madrid, Spain
Budapest, Hungary
Budapest, Hungary
Munich, Germany
Swinton, England, United Kingdom
Sibiu, Romania
Los Angeles, California, United States
Nuremberg, Germany
Bielsko-Biala, Poland
Pentrefoelas, United Kingdom
Szprotawa, Poland
Budapest, Hungary
Woking, England, United Kingdom
Riyadh, Saudi Arabia
Sligo, Ireland
Uelzen, Germany
Dordrecht, Netherlands
Helsinki, Finland
Rethymno, Greece
Castrop-Rauxel, Germany
Bad Wildungen, Germany
Paris, France
Epsom, England, United Kingdom
Uppsala, Sweden
Arvidsjaur, Sweden
Bkscsaba, Hungary
Zalu, Romania
London, England, United Kingdom
Douai, France
Dudelange, Luxembourg
Heerlen, Netherlands
Budapest, Hungary
Logroo, Spain
Castelln de la Plana, Spain
Bonn, Germany
Ballyhaunis, Ireland
Munich, Germany
Munich, Germany
Ystad, Sweden
Sundsvall, Sweden
Olsztyn, Poland
Weymouth, England, United Kingdom
Osnabrck, Germany
Reading, England, United Kingdom
Forfar, Scotland, United Kingdom
Sunderland, England, United Kingdom
London, England, United Kingdom
New York, New York, United States
Schaerbeek, Belgium
Silistra, Bulgaria
Petroani, Romania
Sanski Most, Bosnia and Herzegovina
Burgas, Bulgaria
Stockholm, Sweden
Vollenhove, Netherlands
Sofia, Bulgaria
Soria, Spain
Caracas, Venezuela
Boulay-les-Barres, France
Luumki, Finland
Tokyo, Japan
San Juan, Puerto Rico
Stara Zagora, Bulgaria
Lapua, Finland
Penzance, England, United Kingdom
Heerlen, Netherlands
Burgstdt, Germany
Zdunska Wola, Poland
Tata, Hungary
Brunswick, Germany
San Sebastin, Spain
Untermarchtal, Germany
Nova Zagora, Bulgaria
Kalundborg, Denmark
Ibiza, Spain
Namur, Belgium
Kiel, Germany
Celje, Slovenia
Le Morne Rouge, Martinique
Odense, Denmark
Trakai, Lithuania
Pula, Croatia
Celje, Slovenia
Pozna, Poland
Sofia, Bulgaria
El Cajon, California, United States
London, England, United Kingdom
Warsaw, Poland
Duisburg, Germany
Ybbs an der Donau, Austria
Athens, Greece
Nicosia, Cyprus
Nuremberg, Germany
Berlin, Germany
Oulu, Finland
London, England, United Kingdom
Trgovite, Bulgaria
Trgovite, Bulgaria
Taheva, Estonia
Trgovite, Bulgaria
Limerick, Ireland
Birmingham, England, United Kingdom
Roade, England, United Kingdom
Lyubichevo, Bulgaria
Newcastle upon Tyne, England, United Kingdom
Straubing, Germany
Osann-Monzel, Germany
Koper, Slovenia
Krakw, Poland
Vienna, Austria
Crediton, England, United Kingdom
Wuppertal, Germany
Weienfels, Germany
Bochum, Germany
Lunca Mureului, Romania
Athens, Greece
Lahti, Finland
Budapest, Hungary
Budapest, Hungary
Sofia, Bulgaria
Walcz, Poland
Leipzig, Germany
Aarhus, Denmark
Riga, Latvia
Zakinthos, Greece
Stuttgart, Germany
Augsburg, Germany
Vorbasse, Denmark
Ventspils, Latvia
d, Poland
Sokow Podlaski, Poland
Kolno, Poland
Soest, Germany
Myszkow, Poland
Villanders, Italy
Riga, Latvia
Komorowo, Ostrw Mazowiecka County, Poland
Patern, Italy
Roosendaal, Netherlands
Paris, France
Grays, England, United Kingdom
Brussels, Belgium
Athens, Greece
Cologne, Germany
Kaunas, Lithuania
Tubize, Belgium
Mden, Germany
Puylaurens, France
Aachen, Germany
Stuttgart, Germany
Gioia del Colle, Italy
Chaumont-en-Vexin, France
Le Mans, France
Chatou, France
Gourfaleur, France
Skive, Denmark
Saint-Malo, France
Krakw, Poland
Paris, France
Kaiserslautern, Germany
Bruck an der Mur, Austria
berherrn, Germany
Ispica, Italy
Budapest, Hungary
Lublin, Poland
Sochaczew, Poland
Pozna, Poland
Bonn, Germany
Breidenbach, Moselle, France
Zams, Austria
Voorburg, Netherlands
Palermo, Italy
Villa D'alme', Italy
Catania, Italy
Pamplona, Spain
Cardito, Italy
Vitry-sur-Seine, France
Helsingr, Denmark
Great Malvern, England, United Kingdom
Halesworth, England, United Kingdom
Schifflange, Luxembourg
Skvde, Sweden
Montilla, Spain
Woking, England, United Kingdom
Amsterdam, Netherlands
Heino, Netherlands, Netherlands
Amstelveen, Netherlands
Alte, Portugal
Anykiai, Lithuania
Stockholm, Sweden
Stiphout, Netherlands
Constana, Romania
Pireus, Greece
Constana, Romania
Arconate, Italy
Awans, Belgium
Rmnicu Vlcea, Romania
Todi, Italy
Leipzig, Germany
Funchal, Portugal
Doetinchem, Netherlands
Edinburgh, Scotland, United Kingdom
Madrid, Spain
Bregenz, Austria
Siemiatycze, Poland
Oviedo, Spain
The Hague, Netherlands
Madrid, Spain
Limassol, Cyprus
Palaichori, Cyprus
Lepenou, Greece
Tmada, Romania
San Giovanni Rotondo, Italy
Platanias, Greece
Riedlingen, Germany
San Sebastin, Spain
Bradford, England, United Kingdom
Belfast, Northern Ireland, United Kingdom
Dublin, Ireland
Drogheda, Ireland
Cambridge, England, United Kingdom
Arrecife, Spain
Amsterdam, Netherlands
Tetun, Morocco
Madrid, Spain
Frederikssund, Denmark
Madrid, Spain
Ferrol, Spain
Bucharest, Romania
Timioara, Romania
Sofia, Bulgaria
Tienen, Belgium
Tripoli, Lebanon
Vru, Estonia
Pontevedra, Spain
Dublin, Ireland
Sofia, Bulgaria
Berettyjfalu, Hungary
Bucharest, Romania
Saint Petersburg, Russia
Leoben, Austria
Geneva, Switzerland
Cardiff, Wales, United Kingdom
Villadossola, Italy
Ceaux-en-Couh, France
Drobeta-Turnu Severin, Romania
Markranstdt, Germany
London, England, United Kingdom
Diever, Netherlands
Ljubljana, Slovenia
Dublin, Ireland
Miami, Florida, United States
Cannobio, Italy
Piet, Malta
Turin, Italy
Militello In Val di Catania, Italy
Joensuu, Finland
Uppsala, Sweden
Molfetta, Italy
Ciudad Real, Spain
Marburg, Germany
Leeds, England, United Kingdom
Cuxac-d'Aude, France
Oneti, Romania
Gotse Delchev, Blagoevgrad Province, Bulgaria
Vatra Dornei, Romania
Paris, France
Greywell, England, United Kingdom
Ixelles, Belgium
Cluj-Napoca, Romania
Munich, Germany
Oxford, England, United Kingdom
Armagh, Northern Ireland, United Kingdom
Maribor, Slovenia
Galway, Ireland
Barcelona, Spain
Ankara, Turkey
Budapest, Hungary
Rybnik, Poland
Lviv, Ukraine
Echt, Netherlands, Netherlands
Mneti, Prahova, Romania
Pibyslav, Czech Republic
Bilbao, Spain
Budapest, Hungary
Tallinn, Estonia
Bad Urach, Germany
Schiffweiler, Germany
Phthiotis, Greece
Naples, Italy
Postojna, Slovenia
Samara, Russia
Berettyjfalu, Hungary
Chios, Greece
Pavlikeni, Bulgaria
Rivolta d' Adda, Italy
Athens, Greece
Athens, Greece
Sofia, Bulgaria
Platanorrevma, Greece
Bridgwater, England, United Kingdom
Dobri, Bulgaria
Satu Mare, Romania
Venafro, Italy
iauliai, Lithuania
Krakw, Poland
unja Vas, Slovenia
Grindu, Ialomia, Romania
Stuttgart, Germany
Munich, Germany
Hamelin, Germany
Parikkala, Finland
Riga, Latvia
Lisbon, Portugal
Rybnik, Poland
Zielona Gra, Poland
Gioia Tauro, Italy
Gries, Austria
Warsaw, Poland
Florence, Italy
Lauria, Italy
Granada, Spain
Athens, Greece
Bucharest, Romania
Milan, Italy
Bucharest, Romania
Athens, Greece
Guzwka, Lublin County, Poland
Oulu, Finland
Lecce, Italy
Pamplona, Spain
Hui, Romania
Sibiu, Romania
Leleti, Romania
Dornum, Germany
Pforzheim, Germany
Velsen, Netherlands
Kilkenny, Ireland
Diez, Germany
Roubaix, France
Bari, Italy
Reggio Emilia, Italy
Brzeg, Poland
Poitiers, France
St Andrews, Scotland, United Kingdom
Surduc, Romania
Coimbra Municipality, Portugal
Etterbeek, Belgium
Leoben, Austria
Munich, Germany
Varna, Bulgaria
Graz, Austria
Rakovnk, Czech Republic
Ludwigsburg, Germany
Esbjerg, Denmark
Nechanice, Czech Republic
Vienna, Austria
Langenfeld, Germany
Lisbon, Portugal
Lisbon, Portugal
Dina, Czech Republic
Barcelona, Spain
Balen, Belgium
Odense, Denmark
Alessandria, Italy
Turin, Italy
Enkping, Sweden
Piadena, Italy
Quakenbrck, Germany
Makow Mazowiecki, Poland
Holstebro, Denmark
Rome, Italy
Jan, Spain
Madrid, Spain
Luzhou District, Taiwan
Radom, Poland
Warsaw, Poland
Frankfurt, Germany
Paderborn, Germany
Rdovre, Denmark
Wels, Austria
Seville, Spain
Heilbronn, Germany
Cluj-Napoca, Romania
Krakw, Poland
Dublin, Ireland
Arad, Romania
Udine, Italy
Anykiai, Lithuania
Tallinn, Estonia
Madrid, Spain
Kalamata, Greece
Njar, Spain
Milan, Italy
Athens, Greece
Horsens, Denmark
Betanzos, Spain
Salerno, Italy
Zaragoza, Spain
Mistretta, Italy
Valdastico, Italy
d, Poland
Oradour-sur-Vayres, France
Tartu, Estonia
Rome, Italy
Copenhagen, Denmark
Innsbruck, Austria
Stockholm, Sweden
Oulu, Finland
Galai, Romania
Bucharest, Romania
Velingrad, Bulgaria
Odense, Denmark
Baden bei Wien, Austria
Montreuil, France
Reith im Alpbachtal, Austria
Thessaloniki, Greece
Danderyd, Sweden
Bad Harzburg, Germany
Axvall, Sweden
Berlin, Germany
Budapest, Hungary
Niederorschel, Germany
Budapest, Hungary
Magdeburg, Germany
Dresden, Germany
Assen, Netherlands
Rottweil, Germany
Stopnica, Poland
Rethymno, Greece
Helsinki, Finland
Satu Mare, Romania
Besanon, France
Leigh, United Kingdom
Chicago, Illinois, United States
Piekary lskie, Poland
Gothenburg, Sweden
Oxford, England, United Kingdom
Glasgow, Scotland, United Kingdom
Sofia, Bulgaria
Arad, Romania
Bochum, Germany
Krakw, Poland
Manises, Spain
Nanterre, France
Cir-d'Aunis, France
Lisbon, Portugal
Kyndby, Denmark
Schifflange, Luxembourg
Busto Arsizio, Italy
Izegem, Belgium
Bielsko-Biala, Poland
Yeniseysk, Russia
Wolfratshausen, Germany
Plovdiv, Bulgaria
Vienna, Austria
Herent, Belgium
Ballantrae, Scotland, United Kingdom
Oebisfelde, Germany
Sofia, Bulgaria
Plovdiv, Bulgaria
Grieskirchen, Austria
Helsinki, Finland
Budapest, Hungary
Biella, Italy
Vrnamo, Sweden
Bad Deutsch-Altenburg, Austria

'\nfor _ in range(80):\n    print(copy_df_mod.iloc[_].info)\n    print(get_birthplace_info(_))\n    print(make_place_column(_))\n\n\nprint(copy_df_mod.iloc[32].info)\nprint(get_birthplace_info(32))\nprint(place_formatter(get_birthplace_info(32)))\nprint(copy_df_mod.iloc[33].info)\nprint(get_birthplace_info(33))\nprint(place_formatter(get_birthplace_info(33)))\n'

In [140]:
copy_df_mod.head(100)

,name,occupation,count,info,birthtime,birthplace
0,Michael_Haneke,r_philosophers,0,Gender:MaleDate of Birth:23 March 1942Birth p...,"[1942, 1, 23]","Munich, Germany"
1,Noam_Chomsky,r_philosophers,1,Gender:MaleDate of Birth:7 December 1928 - 07...,"[1928, 1, 7, 07:00]","Philadelphia, Pennsylvania, United States"
2,Albert_Camus,r_philosophers,2,Gender:MaleDate of Birth:7 November 1913 - 02...,"[1913, 1, 7, 02:00]","Mondovi, Algeria"
3,Mahatma_Gandhi,r_philosophers,3,Gender:MaleDate of Birth:2 October 1869 - 07:...,"[1869, 1, 2, 07:08]","Porbandar, India"
4,Jean-Jacques_Rousseau,r_philosophers,4,Gender:MaleDate of Birth:28 June 1712 - 10:00...,"[1712, 1, 28, 10:00]","Geneva, Switzerland"
5,Denis_Diderot,r_philosophers,5,Gender:MaleDate of Birth:5 October 1713 - 17:...,"[1713, 1, 5, 17:00]","Langres, France"
6,Immanuel_Kant,r_philosophers,6,Gender:MaleDate of Birth:22 April 1724 - 05:0...,"[1724, 1, 22, 05:00]","Knigsberg, Germany"
7,Johann_Gottfried_Herder,r_philosophers,7,Gender:MaleDate of Birth:25 August 1744 - 23:...,"[1744, 1, 25, 23:30]","Mohrungen, Poland"
8,Soeren_Kierkegaard,r_philosophers,8,Gender:MaleDate of Birth:5 May 1813Birth plac...,"[1813, 1, 5]","Copenhagen, Denmark"
9,Friedrich_Nietzsche,r_philosophers,9,Gender:MaleDate of Birth:15 October 1844 - 10...,"[1844, 1, 15, 10:00]","Roecken, Germany"
10,Bertrand_Russell,r_philosophers,10,Gender:MaleDate of Birth:18 May 1872 - 17:45h...,"[1872, 1, 18, 17:45]","Trelleck, Wales, United Kingdom"
11,Philip_K._Dick,r_philosophers,11,Gender:MaleDate of Birth:16 December 1928 - 1...,"[1928, 1, 16, 12:15]","Chicago, Illinois, United States"
12,Arthur_Schopenhauer,r_philosophers,12,Gender:MaleDate of Birth:22 February 1788 - 1...,"[1788, 1, 22, 12:00]","Gdask, Poland"
13,Karl_Marx,r_philosophers,13,Gender:MaleDate of Birth:5 May 1818 - 02:00hB...,"[1818, 1, 5, 02:00]","Trier, Germany"
14,Helena_Blavatsky,r_philosophers,14,Gender:FemaleDate of Birth:12 August 1831 - 0...,"[1831, 1, 12, 02:17]","Ekaterinoslav, Dnipro, Ukraine"
15,Ernst_Bloch,r_philosophers,15,Gender:MaleDate of Birth:8 July 1885 - 08:00h...,"[1885, 1, 8, 08:00]","Ludwigshafen, Germany"
16,George_Boole,r_philosophers,16,Gender:MaleDate of Birth:2 November 1815 - 16...,"[1815, 1, 2, 16:00]","Lincoln, England, United Kingdom"
17,Martin_Buber,r_philosophers,17,Gender:MaleDate of Birth:8 February 1878 - 06...,"[1878, 1, 8, 06:58]","Vienna, Austria"
18,Fritjof_Capra,r_philosophers,18,Gender:MaleDate of Birth:1 February 1939 - 10...,"[1939, 1, 1, 10:55]","Vienna, Austria"
19,Gilles_Deleuze,r_philosophers,19,Gender:MaleDate of Birth:18 January 1925 - 02...,"[1925, 1, 18, 02:45]","Paris, France"
20,Friedrich_Engels,r_philosophers,20,Gender:MaleDate of Birth:28 November 1820 - 2...,"[1820, 1, 28, 21:00]","Wuppertal, Germany"
21,Ludwig_Feuerbach,r_philosophers,21,Gender:MaleDate of Birth:28 July 1804 - 01:30...,"[1804, 1, 28, 01:30]","Landshut, Germany"
22,Michel_Foucault,r_philosophers,22,Gender:MaleDate of Birth:15 October 1926 - 07...,"[1926, 1, 15, 07:30]","Poitiers, France"
23,Erich_Fromm,r_philosophers,23,Gender:MaleDate of Birth:23 March 1900 - 19:3...,"[1900, 1, 23, 19:30]","Frankfurt, Germany"
24,David_Hume,r_philosophers,24,Gender:MaleDate of Birth:7 May 1711(gregor.)B...,"[1711, 1, 7]","Edinburgh, Scotland, United Kingdom"
25,Emmanuel_Lasker,r_philosophers,25,Gender:MaleDate of Birth:24 December 1868 - 1...,"[1868, 1, 24, 15:00]","Berlin, Germany"
26,Maria_Montessori,r_philosophers,26,Gender:FemaleDate of Birth:31 August 1870 - 0...,"[1870, 1, 31, 03:30]","Chiaravalle, Italy"
27,Teresa_Benedicta,r_philosophers,27,Gender:FemaleDate of Birth:12 October 1891 - ...,"[1891, 1, 12, 00:30]","Hof, Germany"
28,Rudolf_Steiner,r_philosophers,28,Gender:MaleDate of Birth:25 February 1861 - 2...,"[1861, 1, 25, 23:15]","Donji Kraljevec, Croatia"
29,Dietrich_von_Hildebrand,r_philosophers,29,Gender:MaleDate of Birth:12 October 1889 - 09...,"[1889, 1, 12, 09:00]","Florence, Italy"
...,...,...,...,...,...,...
70,Christian_Ehrenfels,r_philosophers,70,Gender:MaleDate of Birth:20 June 1859 - 17:42...,"[1859, 1, 20, 17:42]","Vienna, Austria"
71,Paul_Feyerabend,r_philosophers,71,Gender:MaleDate of Birth:13 January 1924 - 23...,"[1924, 1, 13, 23:00]","Vienna, Austria"
72,Alain_Finkielkraut,r_philosophers,72,Gender:MaleDate of Birth:30 June 1949 - 01:15...,"[1949, 1, 30, 01:15]","Paris, France"
73,Alfred_Fouillée,r_philosophers,73,Gender:MaleDate of Birth:18 October 1838 - 11...,"[1838, 1, 18, 11:00]","La Pouze, France"
74,Charles_Fourier,r_philosophers,74,Gender:MaleDate of Birth:7 April 1772 - 06:00...,"[1772, 1, 7, 06:00]","Besanon, France"
75,Hans-Georg_Gadamer,r_philosophers,75,Gender:MaleDate of Birth:11 February 1900 - 0...,"[1900, 1, 11, 08:45]","Marburg, Germany"
76,Roger_Garaudy,r_philosophers,76,Gender:MaleDate of Birth:17 July 1913 - 19:00...,"[1913, 1, 17, 19:00]","Marseille, France"
77,Giovanni_Gentile,r_philosophers,77,Gender:MaleDate of Birth:29 May 1875 - 23:00h...,"[1875, 1, 29, 23:00]","Castelvetrano, Italy"
78,Etienne_Gilson,r_philosophers,78,Gender:MaleDate of Birth:13 June 1884 - 12:00...,"[1884, 1, 13, 12:00]","Paris, France"
79,Antonio_Gramsci,r_philosophers,79,Gender:MaleDate of Birth:22 January 1891 - 11...,"[1891, 1, 22, 11:00]","Ales, Italy"
80,Joseph_Gratry,r_philosophers,80,Gender:MaleDate of Birth:30 March 1805 - 22:4...,"[1805, 1, 30, 22:45]","Lille, France"
81,Romano_Guardini,r_philosophers,81,Gender:MaleDate of Birth:17 February 1885 - 0...,"[1885, 1, 17, 01:30]","Verona, Italy"
82,Jean_Guitton,r_philosophers,82,Gender:MaleDate of Birth:18 August 1901 - 15:...,"[1901, 1, 18, 15:00]","Saint-tienne, France"
83,Jean-Marie_Guyau,r_philosophers,83,Gender:MaleDate of Birth:28 October 1854 - 17...,"[1854, 1, 28, 17:00]","Laval, France"
84,Abimael_Guzman,r_philosophers,84,Gender:MaleDate of Birth:3 December 1934 - 14...,"[1934, 1, 3, 14:00]","Mollendo, Peru"
85,Jürgen_Habermas,r_philosophers,85,Gender:MaleDate of Birth:18 June 1929 - 20:00...,"[1929, 1, 18, 20:00]","Dsseldorf, Germany"
86,Martin_Heidegger,r_philosophers,86,Gender:MaleDate of Birth:26 September 1889 - ...,"[1889, 1, 26, 11:30]","Messkirch, Germany"
87,Ernest_Hello,r_philosophers,87,Gender:MaleDate of Birth:5 November 1828 - 00...,"[1828, 1, 5, 00:26]","Lorient, France"
88,Max_Horkheimer,r_philosophers,88,Gender:MaleDate of Birth:14 February 1895 - 1...,"[1895, 1, 14, 12:30]","Stuttgart, Germany"
89,Karl_Jaspers,r_philosophers,89,Gender:MaleDate of Birth:23 February 1883 - 1...,"[1883, 1, 23, 14:30]","Oldenburg, Germany"
90,Jean_Jaurès,r_philosophers,90,Gender:MaleDate of Birth:3 September 1859 - 1...,"[1859, 1, 3, 12:00]","Castres, France"
91,Hermann_Von_Keyserling,r_philosophers,91,Gender:MaleDate of Birth:20 July 1880 - 21:55...,"[1880, 1, 20, 21:55]","Knnu, Plva County, Estonia"
92,S._Albert_Kivinen,r_philosophers,92,Gender:MaleDate of Birth:10 October 1933 - 23...,"[1933, 1, 10, 23:15]","Ikaalinen, Finland"
93,Saul_Kripke,r_philosophers,93,Gender:MaleDate of Birth:13 November 1940 - 1...,"[1940, 1, 13, 18:36]","Bay Shore, New York, United States"
94,Jiddu_Krishnamurti,r_philosophers,94,Gender:MaleDate of Birth:12 May 1895 - 00:30h...,"[1895, 1, 12, 00:30]","Madanapalle, India"
95,Pierre_Laffitte,r_philosophers,95,Gender:MaleDate of Birth:21 February 1823 - 1...,"[1823, 1, 21, 14:00]","Bguey, France"
96,Louis_Lavelle,r_philosophers,96,Gender:MaleDate of Birth:15 July 1883 - 10:00...,"[1883, 1, 15, 10:00]","Saint-Martin-de-Villeral, France"
97,Theodor_Lessing,r_philosophers,97,Gender:MaleDate of Birth:8 February 1872 - 09...,"[1872, 1, 8, 09:42]","Hanover, Germany"
98,Émile_Littré,r_philosophers,98,Gender:MaleDate of Birth:1 February 1801 - 10...,"[1801, 1, 1, 10:00]","Paris, France"
99,Jean-François_Lyotard,r_philosophers,99,Gender:MaleDate of Birth:10 August 1924 - 00:...,"[1924, 1, 10, 00:15]","Versailles, France"

In [12]:
strngstrng = '''
['1975', 1, '27', '16:35']
['1966', 1, '8', '18:05']
['1912', 1, '15', '23:30']
['1968', 1, '25']
['1904', 1, '7', '01:21']
['1962', 1, '26', '00:25']
['1956', 1, '13', '15:00']
['1846', 1, '28', '10:00']
['1959', 1, '15', '07:40']
['1964', 1, '13', '05:30']
['1964', 1, '13', '06:00']
['1956', 1, '25']
['1964', 1, '10']
['1935', 1, '18']
['1906', 1, '17']
['1949', 1, '8']
['1960', 1, '22']
['1975', 1, '29']
['1785', 1, '31']
['1967', 1, '7']
['1952', 1, '3']
['1975', 1, '9']
['1947', 1, '21']
['1960', 1, '19']
['1903', 1, '5']
['1968', 1, '14']
['1962', 1, '30']
['1969', 1, '21']
['1984', 1, '7']
['1977', 1, '5']
['1923', 1, '6']
['1971', 1, '19']
['1967', 1, '3']
['1968', 1, '1']
['1970', 1, '22']
['1947', 1, '19']
['1966', 1, '19']
['1975', 1, '13']
['1960', 1, '29']
['1943', 1, '5']
['1966', 1, '12']
['1968', 1, '22']
['1971', 1, '3']
['1931', 1, '29']
['1956', 1, '21']
['1948', 1, '2']
['1974', 1, '17']
['1975', 1, '5']
['1909', 1, '23']
['1965', 1, '10']
['1965', 1, '14']
['1966', 1, '3']
['1978', 1, '18']
['1955', 1, '2']
['1966', 1, '23']
['1988', 1, '1']
['1962', 1, '30']
['1952', 1, '19']
['1964', 1, '20']
['1973', 1, '6']
['1904', 1, '17']
['1945', 1, '23']
['1980', 1, '8']
['1940', 1, '20']
['1921', 1, '10']
['1953', 1, '11']
['1970', 1, '25']
['1976', 1, '12']
['1971', 1, '26']
['1977', 1, '26']
['1949', 1, '24']
['1939', 1, '22']
['1984', 1, '19']
['1958', 1, '1']
['1918', 1, '31']
['1969', 1, '19']
['1988', 1, '26']
'''
counttemptemp = 0
for e in strngstrng:
    if e == '\n':
        counttemptemp += 1
print(counttemptemp)

78

In [141]:
best_df_ever = copy_df_mod.drop(['info'], axis=1)

In [142]:
best_df_ever.head(15)

,name,occupation,count,birthtime,birthplace
0,Michael_Haneke,r_philosophers,0,"[1942, 1, 23]","Munich, Germany"
1,Noam_Chomsky,r_philosophers,1,"[1928, 1, 7, 07:00]","Philadelphia, Pennsylvania, United States"
2,Albert_Camus,r_philosophers,2,"[1913, 1, 7, 02:00]","Mondovi, Algeria"
3,Mahatma_Gandhi,r_philosophers,3,"[1869, 1, 2, 07:08]","Porbandar, India"
4,Jean-Jacques_Rousseau,r_philosophers,4,"[1712, 1, 28, 10:00]","Geneva, Switzerland"
5,Denis_Diderot,r_philosophers,5,"[1713, 1, 5, 17:00]","Langres, France"
6,Immanuel_Kant,r_philosophers,6,"[1724, 1, 22, 05:00]","Knigsberg, Germany"
7,Johann_Gottfried_Herder,r_philosophers,7,"[1744, 1, 25, 23:30]","Mohrungen, Poland"
8,Soeren_Kierkegaard,r_philosophers,8,"[1813, 1, 5]","Copenhagen, Denmark"
9,Friedrich_Nietzsche,r_philosophers,9,"[1844, 1, 15, 10:00]","Roecken, Germany"
10,Bertrand_Russell,r_philosophers,10,"[1872, 1, 18, 17:45]","Trelleck, Wales, United Kingdom"
11,Philip_K._Dick,r_philosophers,11,"[1928, 1, 16, 12:15]","Chicago, Illinois, United States"
12,Arthur_Schopenhauer,r_philosophers,12,"[1788, 1, 22, 12:00]","Gdask, Poland"
13,Karl_Marx,r_philosophers,13,"[1818, 1, 5, 02:00]","Trier, Germany"
14,Helena_Blavatsky,r_philosophers,14,"[1831, 1, 12, 02:17]","Ekaterinoslav, Dnipro, Ukraine"

In [183]:
geolocator = Nominatim(user_agent="specify_your_app_name_here")
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)
best_df_ever['location'] = best_df_ever['birthplace'].apply(geocode)
best_df_ever['point'] = best_df_ever['location'].apply(lambda loc: tuple(loc.point) if loc else None)

RateLimiter caught an error, retrying (0/2 tries). Called with (*('France',), **{}).
Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1317, in do_open
    encode_chunked=req.has_header('Transfer-encoding'))
  File "/anaconda3/lib/python3.7/http/client.py", line 1229, in request
    self._send_request(method, url, body, headers, encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1275, in _send_request
    self.endheaders(body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1224, in endheaders
    self._send_output(message_body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1016, in _send_output
    self.send(msg)
  File "/anaconda3/lib/python3.7/http/client.py", line 956, in send
    self.connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 1384, in connect
    super().connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 928, in connect
    (self.host,self.port), self.timeout, self.source_address)
  File "/anaconda3/lib/python3.7/socket.py", line 727, in create_connection
    raise err
  File "/anaconda3/lib/python3.7/socket.py", line 716, in create_connection
    sock.connect(sa)
socket.timeout: timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 355, in _call_geocoder
    page = requester(req, timeout=timeout, **kwargs)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 525, in open
    response = self._open(req, data)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 543, in _open
    '_open', req)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 503, in _call_chain
    result = func(*args)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1360, in https_open
    context=self._context, check_hostname=self._check_hostname)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1319, in do_open
    raise URLError(err)
urllib.error.URLError: <urlopen error timed out>

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/extra/rate_limiter.py", line 126, in __call__
    return self.func(*args, **kwargs)
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/osm.py", line 406, in geocode
    self._call_geocoder(url, timeout=timeout), exactly_one
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 378, in _call_geocoder
    raise GeocoderTimedOut('Service timed out')
geopy.exc.GeocoderTimedOut: Service timed out
RateLimiter caught an error, retrying (0/2 tries). Called with (*('Marburg, Germany',), **{}).
Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1317, in do_open
    encode_chunked=req.has_header('Transfer-encoding'))
  File "/anaconda3/lib/python3.7/http/client.py", line 1229, in request
    self._send_request(method, url, body, headers, encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1275, in _send_request
    self.endheaders(body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1224, in endheaders
    self._send_output(message_body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1016, in _send_output
    self.send(msg)
  File "/anaconda3/lib/python3.7/http/client.py", line 956, in send
    self.connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 1384, in connect
    super().connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 928, in connect
    (self.host,self.port), self.timeout, self.source_address)
  File "/anaconda3/lib/python3.7/socket.py", line 727, in create_connection
    raise err
  File "/anaconda3/lib/python3.7/socket.py", line 716, in create_connection
    sock.connect(sa)
socket.timeout: timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 355, in _call_geocoder
    page = requester(req, timeout=timeout, **kwargs)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 525, in open
    response = self._open(req, data)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 543, in _open
    '_open', req)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 503, in _call_chain
    result = func(*args)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1360, in https_open
    context=self._context, check_hostname=self._check_hostname)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1319, in do_open
    raise URLError(err)
urllib.error.URLError: <urlopen error timed out>

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/extra/rate_limiter.py", line 126, in __call__
    return self.func(*args, **kwargs)
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/osm.py", line 406, in geocode
    self._call_geocoder(url, timeout=timeout), exactly_one
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 378, in _call_geocoder
    raise GeocoderTimedOut('Service timed out')
geopy.exc.GeocoderTimedOut: Service timed out
RateLimiter caught an error, retrying (0/2 tries). Called with (*('Ales, Italy',), **{}).
Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1317, in do_open
    encode_chunked=req.has_header('Transfer-encoding'))
  File "/anaconda3/lib/python3.7/http/client.py", line 1229, in request
    self._send_request(method, url, body, headers, encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1275, in _send_request
    self.endheaders(body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1224, in endheaders
    self._send_output(message_body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1016, in _send_output
    self.send(msg)
  File "/anaconda3/lib/python3.7/http/client.py", line 956, in send
    self.connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 1384, in connect
    super().connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 928, in connect
    (self.host,self.port), self.timeout, self.source_address)
  File "/anaconda3/lib/python3.7/socket.py", line 727, in create_connection
    raise err
  File "/anaconda3/lib/python3.7/socket.py", line 716, in create_connection
    sock.connect(sa)
socket.timeout: timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 355, in _call_geocoder
    page = requester(req, timeout=timeout, **kwargs)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 525, in open
    response = self._open(req, data)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 543, in _open
    '_open', req)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 503, in _call_chain
    result = func(*args)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1360, in https_open
    context=self._context, check_hostname=self._check_hostname)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1319, in do_open
    raise URLError(err)
urllib.error.URLError: <urlopen error timed out>

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/extra/rate_limiter.py", line 126, in __call__
    return self.func(*args, **kwargs)
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/osm.py", line 406, in geocode
    self._call_geocoder(url, timeout=timeout), exactly_one
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 378, in _call_geocoder
    raise GeocoderTimedOut('Service timed out')
geopy.exc.GeocoderTimedOut: Service timed out

RateLimiter caught an error, retrying (0/2 tries). Called with (*('Knnu, Plva County, Estonia',), **{}).
Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1317, in do_open
    encode_chunked=req.has_header('Transfer-encoding'))
  File "/anaconda3/lib/python3.7/http/client.py", line 1229, in request
    self._send_request(method, url, body, headers, encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1275, in _send_request
    self.endheaders(body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1224, in endheaders
    self._send_output(message_body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1016, in _send_output
    self.send(msg)
  File "/anaconda3/lib/python3.7/http/client.py", line 956, in send
    self.connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 1384, in connect
    super().connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 928, in connect
    (self.host,self.port), self.timeout, self.source_address)
  File "/anaconda3/lib/python3.7/socket.py", line 727, in create_connection
    raise err
  File "/anaconda3/lib/python3.7/socket.py", line 716, in create_connection
    sock.connect(sa)
socket.timeout: timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 355, in _call_geocoder
    page = requester(req, timeout=timeout, **kwargs)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 525, in open
    response = self._open(req, data)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 543, in _open
    '_open', req)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 503, in _call_chain
    result = func(*args)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1360, in https_open
    context=self._context, check_hostname=self._check_hostname)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1319, in do_open
    raise URLError(err)
urllib.error.URLError: <urlopen error timed out>

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/extra/rate_limiter.py", line 126, in __call__
    return self.func(*args, **kwargs)
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/osm.py", line 406, in geocode
    self._call_geocoder(url, timeout=timeout), exactly_one
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 378, in _call_geocoder
    raise GeocoderTimedOut('Service timed out')
geopy.exc.GeocoderTimedOut: Service timed out
RateLimiter caught an error, retrying (0/2 tries). Called with (*('Paris, France',), **{}).
Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1317, in do_open
    encode_chunked=req.has_header('Transfer-encoding'))
  File "/anaconda3/lib/python3.7/http/client.py", line 1229, in request
    self._send_request(method, url, body, headers, encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1275, in _send_request
    self.endheaders(body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1224, in endheaders
    self._send_output(message_body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1016, in _send_output
    self.send(msg)
  File "/anaconda3/lib/python3.7/http/client.py", line 956, in send
    self.connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 1384, in connect
    super().connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 928, in connect
    (self.host,self.port), self.timeout, self.source_address)
  File "/anaconda3/lib/python3.7/socket.py", line 727, in create_connection
    raise err
  File "/anaconda3/lib/python3.7/socket.py", line 716, in create_connection
    sock.connect(sa)
socket.timeout: timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 355, in _call_geocoder
    page = requester(req, timeout=timeout, **kwargs)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 525, in open
    response = self._open(req, data)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 543, in _open
    '_open', req)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 503, in _call_chain
    result = func(*args)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1360, in https_open
    context=self._context, check_hostname=self._check_hostname)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1319, in do_open
    raise URLError(err)
urllib.error.URLError: <urlopen error timed out>

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/extra/rate_limiter.py", line 126, in __call__
    return self.func(*args, **kwargs)
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/osm.py", line 406, in geocode
    self._call_geocoder(url, timeout=timeout), exactly_one
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 378, in _call_geocoder
    raise GeocoderTimedOut('Service timed out')
geopy.exc.GeocoderTimedOut: Service timed out
RateLimiter caught an error, retrying (0/2 tries). Called with (*('Bayreuth, Germany',), **{}).
Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1317, in do_open
    encode_chunked=req.has_header('Transfer-encoding'))
  File "/anaconda3/lib/python3.7/http/client.py", line 1229, in request
    self._send_request(method, url, body, headers, encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1275, in _send_request
    self.endheaders(body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1224, in endheaders
    self._send_output(message_body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1016, in _send_output
    self.send(msg)
  File "/anaconda3/lib/python3.7/http/client.py", line 956, in send
    self.connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 1384, in connect
    super().connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 928, in connect
    (self.host,self.port), self.timeout, self.source_address)
  File "/anaconda3/lib/python3.7/socket.py", line 727, in create_connection
    raise err
  File "/anaconda3/lib/python3.7/socket.py", line 716, in create_connection
    sock.connect(sa)
socket.timeout: timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 355, in _call_geocoder
    page = requester(req, timeout=timeout, **kwargs)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 525, in open
    response = self._open(req, data)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 543, in _open
    '_open', req)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 503, in _call_chain
    result = func(*args)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1360, in https_open
    context=self._context, check_hostname=self._check_hostname)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1319, in do_open
    raise URLError(err)
urllib.error.URLError: <urlopen error timed out>

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/extra/rate_limiter.py", line 126, in __call__
    return self.func(*args, **kwargs)
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/osm.py", line 406, in geocode
    self._call_geocoder(url, timeout=timeout), exactly_one
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 378, in _call_geocoder
    raise GeocoderTimedOut('Service timed out')
geopy.exc.GeocoderTimedOut: Service timed out

RateLimiter caught an error, retrying (0/2 tries). Called with (*('Prague, Czech Republic',), **{}).
Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1317, in do_open
    encode_chunked=req.has_header('Transfer-encoding'))
  File "/anaconda3/lib/python3.7/http/client.py", line 1229, in request
    self._send_request(method, url, body, headers, encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1275, in _send_request
    self.endheaders(body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1224, in endheaders
    self._send_output(message_body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1016, in _send_output
    self.send(msg)
  File "/anaconda3/lib/python3.7/http/client.py", line 956, in send
    self.connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 1384, in connect
    super().connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 928, in connect
    (self.host,self.port), self.timeout, self.source_address)
  File "/anaconda3/lib/python3.7/socket.py", line 727, in create_connection
    raise err
  File "/anaconda3/lib/python3.7/socket.py", line 716, in create_connection
    sock.connect(sa)
socket.timeout: timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 355, in _call_geocoder
    page = requester(req, timeout=timeout, **kwargs)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 525, in open
    response = self._open(req, data)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 543, in _open
    '_open', req)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 503, in _call_chain
    result = func(*args)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1360, in https_open
    context=self._context, check_hostname=self._check_hostname)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1319, in do_open
    raise URLError(err)
urllib.error.URLError: <urlopen error timed out>

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/extra/rate_limiter.py", line 126, in __call__
    return self.func(*args, **kwargs)
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/osm.py", line 406, in geocode
    self._call_geocoder(url, timeout=timeout), exactly_one
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 378, in _call_geocoder
    raise GeocoderTimedOut('Service timed out')
geopy.exc.GeocoderTimedOut: Service timed out
RateLimiter caught an error, retrying (0/2 tries). Called with (*('Wisbech, England, United Kingdom',), **{}).
Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1317, in do_open
    encode_chunked=req.has_header('Transfer-encoding'))
  File "/anaconda3/lib/python3.7/http/client.py", line 1229, in request
    self._send_request(method, url, body, headers, encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1275, in _send_request
    self.endheaders(body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1224, in endheaders
    self._send_output(message_body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1016, in _send_output
    self.send(msg)
  File "/anaconda3/lib/python3.7/http/client.py", line 956, in send
    self.connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 1384, in connect
    super().connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 928, in connect
    (self.host,self.port), self.timeout, self.source_address)
  File "/anaconda3/lib/python3.7/socket.py", line 727, in create_connection
    raise err
  File "/anaconda3/lib/python3.7/socket.py", line 716, in create_connection
    sock.connect(sa)
socket.timeout: timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 355, in _call_geocoder
    page = requester(req, timeout=timeout, **kwargs)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 525, in open
    response = self._open(req, data)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 543, in _open
    '_open', req)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 503, in _call_chain
    result = func(*args)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1360, in https_open
    context=self._context, check_hostname=self._check_hostname)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1319, in do_open
    raise URLError(err)
urllib.error.URLError: <urlopen error timed out>

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/extra/rate_limiter.py", line 126, in __call__
    return self.func(*args, **kwargs)
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/osm.py", line 406, in geocode
    self._call_geocoder(url, timeout=timeout), exactly_one
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 378, in _call_geocoder
    raise GeocoderTimedOut('Service timed out')
geopy.exc.GeocoderTimedOut: Service timed out

In [184]:
best_df_ever.tail(25)

,name,occupation,count,birthtime,birthplace,location,point
188,Nicholas_Roerich,r_philosophers,188,"[1874, 1, 9]","Saint Petersburg, Russia","(Санкт-Петербург, Северо-Западный федеральный ...","(59.9606739, 30.1586551, 0.0)"
189,Michele_Federico_Sciacca,r_philosophers,189,"[1908, 1, 12, 20:30]","Giarre, Italy","(Giarre, Catania, Sicilia, 95014, Italia, (37....","(37.726857, 15.187688, 0.0)"
190,Junípero_Serra,r_philosophers,190,"[1713, 1, 24, 01:00]","Majorca, Spain","(Mallorca, Sencelles, Pla de Mallorca, Illes B...","(39.6134018, 2.8804305326400756, 0.0)"
191,Paul_Tillich,r_philosophers,191,"[1886, 1, 20, 00:30]","Starosiedle, Poland","(Starosiedle, gmina Gubin, powiat krośnieński,...","(51.8581096, 14.820994, 0.0)"
192,Johannes_Vaihinger,r_philosophers,192,"[1852, 1, 25, 16:30]","hringen, Germany",None,None
193,Theobold_Ziegler,r_philosophers,193,"[1846, 1, 9, 17:45]","Gppingen, Germany",None,None
194,Ryszard_Antoni_Legutko,r_philosophers,194,"[1949, 1, 24]","Krakw, Poland",None,None
195,Miloslav_Ransdorf,r_philosophers,195,"[1953, 1, 15]","Rakovnk, Czech Republic",None,None
196,Karel_Josef_Beneš,r_philosophers,196,"[1896, 1, 21]","Prague, Czech Republic","(Praha, okres Hlavní město Praha, Hlavní město...","(50.0874654, 14.4212535, 0.0)"
197,Karel_Bodlák,r_philosophers,197,"[1903, 1, 3]","Sobslav, Czech Republic",None,None
198,Otokar_Fischer,r_philosophers,198,"[1883, 1, 20]","Koln, Czech Republic",None,None
199,William_Godwin,r_philosophers,199,"[1756, 1, 3]","Wisbech, England, United Kingdom","(Wisbech, Cambridgeshire, East of England, Eng...","(52.6651733, 0.1606824, 0.0)"
200,Jakub_Hron_Metánovský,r_philosophers,200,"[1840, 1, 4]","Metnov, Czech Republic",None,None
201,Jan_Patočka,r_philosophers,201,"[1907, 1, 1]","Turnov, Czech Republic","(Turnov, okres Semily, Liberecký kraj, Severov...","(50.5872282, 15.150259702715726, 0.0)"
202,Karel_Sabina,r_philosophers,202,"[1813, 1, 29]","Prague, Czech Republic","(Praha, okres Hlavní město Praha, Hlavní město...","(50.0874654, 14.4212535, 0.0)"
203,Emil_Sedmík,r_philosophers,203,None,None,"(None, Torino, Piemonte, Italia, (44.933143, 7...","(44.933143, 7.540121, 0.0)"
204,Josef_Šafařík,r_philosophers,204,"[1907, 1, 11]","Prostjov, Czech Republic",None,None
205,Milan_Šimečka,r_philosophers,205,None,None,"(None, Torino, Piemonte, Italia, (44.933143, 7...","(44.933143, 7.540121, 0.0)"
206,Stanislav_Komárek,r_philosophers,206,None,None,"(None, Torino, Piemonte, Italia, (44.933143, 7...","(44.933143, 7.540121, 0.0)"
207,Paco_Vidarte,r_philosophers,207,"[1970, 1, 1]","Seville, Spain","(Sevilla, Andalucía, España, (37.3886303, -5.9...","(37.3886303, -5.9953403, 0.0)"
208,Ernst_Tugendhat,r_philosophers,208,None,None,"(None, Torino, Piemonte, Italia, (44.933143, 7...","(44.933143, 7.540121, 0.0)"
209,Erazim_Kohák,r_philosophers,209,"[1933, 1, 21]","Prague, Czech Republic","(Praha, okres Hlavní město Praha, Hlavní město...","(50.0874654, 14.4212535, 0.0)"
210,Ladislav_Menzel,r_philosophers,210,"[1929, 1, 13]","Prague, Czech Republic","(Praha, okres Hlavní město Praha, Hlavní město...","(50.0874654, 14.4212535, 0.0)"
211,Edmund_Husserl,r_philosophers,211,"[1859, 1, 8]","Prostjov, Czech Republic",None,None
212,Kurt_Gödel,r_philosophers,212,"[1906, 1, 28]","Brno, Czech Republic","(Brno, okres Brno-město, Jihomoravský kraj, Ji...","(49.1922443, 16.6113382, 0.0)"

This seems to work. We will perform this process on every occupation dataframe that we have.

But before we run a for loop on all our dataframes, let's continue with this specific data frame.

Let's feed our dataframe into FlatLib, get some results, analyze the results, and add these results to our dataframe as a set of columns.

I'm gonna use an np.array.

Ehhh... let's just stick to Pandas, it'll be just as direct.

In [185]:
#OLD CODE

'''
date = Datetime('1997/07/02', '16:07', '-07:00')
#date.jd
print(date.jd)

pos = GeoPos('37n7644', '121w9540')
print(pos.lat,pos.lon)

chart = Chart(date, pos)
'''
print('hi')

hi

In [186]:
jackson_df = pd.DataFrame([['Jackson_Stenger','r_philosopher',0,[1997, 7, 2],'San Ramon, California, United States']], columns = ['name', 'occupation', 'count', 'birthtime', 'birthplace'])

In [187]:
jackson_df.head()

,name,occupation,count,birthtime,birthplace
0,Jackson_Stenger,r_philosopher,0,"[1997, 7, 2]","San Ramon, California, United States"

In [188]:
geolocator1 = Nominatim(user_agent="specify_your_app_name_here")
geocode1 = RateLimiter(geolocator1.geocode, min_delay_seconds=1)
jackson_df['location'] = jackson_df['birthplace'].apply(geocode1)
jackson_df['point'] = jackson_df['location'].apply(lambda loc: tuple(loc.point) if loc else None)

In [189]:
jackson_df

,name,occupation,count,birthtime,birthplace,location,point
0,Jackson_Stenger,r_philosopher,0,"[1997, 7, 2]","San Ramon, California, United States","(San Ramon, Contra Costa County, California, U...","(37.7799273, -121.9780153, 0.0)"

In [190]:
df_var = best_df_ever
#df_var = jackson_df

def point_formatter(row):
    p = df_var.iloc[row].point
    if p == None:
        return None
    p_ns = p[0]
    p_ew = p[1]
    if p_ns > 0:
        p_ns_mod = str(round(p_ns, 4)).replace('.', 'n')
    else:
        p_ns_mod = str(round(-p_ns, 4)).replace('.', 's')
    if p_ew > 0:
        p_ew_mod = str(round(p_ew, 4)).replace('.', 'e')
    else:
        p_ew_mod = str(round(-p_ew, 4)).replace('.', 'w')
    return (p_ns_mod,p_ew_mod)

In [191]:
point_formatter(0)

('48n1371', '11e5754')

In [192]:
best_df_everer = best_df_ever
best_df_everer['point'] = best_df_ever['count'].apply(point_formatter)

In [193]:
best_df_everer.head(8)

,name,occupation,count,birthtime,birthplace,location,point
0,Michael_Haneke,r_philosophers,0,"[1942, 1, 23]","Munich, Germany","(München, Bayern, Deutschland, (48.1371079, 11...","(48n1371, 11e5754)"
1,Noam_Chomsky,r_philosophers,1,"[1928, 1, 7, 07:00]","Philadelphia, Pennsylvania, United States","(Philadelphia, Philadelphia County, Pennsylvan...","(39n9527, 75w1635)"
2,Albert_Camus,r_philosophers,2,"[1913, 1, 7, 02:00]","Mondovi, Algeria","(Drean, Daïra Drean, El Tarf الطارف, الجزائر, ...","(36n6851, 7e7471)"
3,Mahatma_Gandhi,r_philosophers,3,"[1869, 1, 2, 07:08]","Porbandar, India","(Porbandar, Porbandar Taluka, Porbandar Distri...","(21n6409, 69e611)"
4,Jean-Jacques_Rousseau,r_philosophers,4,"[1712, 1, 28, 10:00]","Geneva, Switzerland","(Genève, Switzerland, (46.2017559, 6.1466014))","(46n2018, 6e1466)"
5,Denis_Diderot,r_philosophers,5,"[1713, 1, 5, 17:00]","Langres, France","(Langres, Haute-Marne, Grand Est, France métro...","(47n8656, 5e3314)"
6,Immanuel_Kant,r_philosophers,6,"[1724, 1, 22, 05:00]","Knigsberg, Germany",None,None
7,Johann_Gottfried_Herder,r_philosophers,7,"[1744, 1, 25, 23:30]","Mohrungen, Poland","(Morąg, gmina Morąg, powiat ostródzki, wojewód...","(53n912, 19e928)"

In [222]:
#Method which returns the time offset for a particular timezone.

def get_offset(lat, lng):
    """
    returns a location's time zone offset from UTC in minutes.
    """
    tf = TimezoneFinder()

    today = datetime.now()
    tz_target = timezone(tf.certain_timezone_at(lng=lng, lat=lat))
    today_target = tz_target.localize(today)
    today_utc = utc.localize(today)
    val = (today_utc - today_target).total_seconds()/60
    hr = int(val // 60)
    hr = str(hr).zfill(2)
    mn = int(val - 60 * int(hr))
    mn = str(mn).zfill(2)
    ans = hr + ':' + mn
    return ans


#bergamo = {'lat': 45.69, 'lng': 9.67}
#minute_offset = get_offset(**bergamo)
#print(minute_offset)

In [223]:
print(get_offset(45.69,9.67))

02:00

In [333]:
var_df = best_df_everer
#var_df = jackson_df
##get_offset(lat, lng)
def date_formatter(row):
    old_date = var_df.iloc[row].birthtime
    
    year = str(old_date[0]).zfill(4)
    month = str(old_date[1]).zfill(2)
    day = str(old_date[2]).zfill(2)
    new_date = str(year) + '/' + str(month) + '/' + str(day)
    
    location = var_df.iloc[row].point
    lat = location[0]
    lng = location[1]
    if 'n' in lat:
        lat = lat.replace('n', '.')
    if 's' in lat:
        lat = '-' + (lat.replace('s', '.'))
    if 'e' in lng:
        lng = lng.replace('e', '.')
    if 'w' in lng:
        lng = '-' + (lng.replace('w', '.'))
    offset = get_offset(float(lat), float(lng))
    
    if len(old_date) == 4:
        time = str(old_date[3])
        ans = Datetime(new_date, time, offset)
    else:
        ans = Datetime(new_date, offset)
    return ans

In [334]:
date_formatter(0)

In [338]:
var_df = best_df_everer
#var_df = jackson_df

def chart_creator(row):
    if df_var.iloc[row].point == None or df_var.iloc[row].location == None or df_var.iloc[row].birthplace == None or df_var.iloc[row].birthtime == None:
        return None
    d = date_formatter(row)
    #^Remember to use the same df here.
    l = df_var.iloc[row].point
    pos = GeoPos(l[0], l[1])
    try:
        chart = Chart(d, pos)
        return chart
    except:
        None

In [340]:
#chart_creator(1)
#chart_creator(4).get(const.MOON)
chart_creator(0)

It works!!!

Now I'm gonna add a column filled with birthcharts (as objects).

In [341]:
best_df_everer['chart'] = best_df_ever['count'].apply(chart_creator)

In [342]:
best_df_everer.head()

,name,occupation,count,birthtime,birthplace,location,point,chart
0,Michael_Haneke,r_philosophers,0,"[1942, 1, 23]","Munich, Germany","(München, Bayern, Deutschland, (48.1371079, 11...","(48n1371, 11e5754)",None
1,Noam_Chomsky,r_philosophers,1,"[1928, 1, 7, 07:00]","Philadelphia, Pennsylvania, United States","(Philadelphia, Philadelphia County, Pennsylvan...","(39n9527, 75w1635)",<flatlib.chart.Chart object at 0x617e648d0>
2,Albert_Camus,r_philosophers,2,"[1913, 1, 7, 02:00]","Mondovi, Algeria","(Drean, Daïra Drean, El Tarf الطارف, الجزائر, ...","(36n6851, 7e7471)",<flatlib.chart.Chart object at 0x617e7d6a0>
3,Mahatma_Gandhi,r_philosophers,3,"[1869, 1, 2, 07:08]","Porbandar, India","(Porbandar, Porbandar Taluka, Porbandar Distri...","(21n6409, 69e611)",<flatlib.chart.Chart object at 0x617f0a518>
4,Jean-Jacques_Rousseau,r_philosophers,4,"[1712, 1, 28, 10:00]","Geneva, Switzerland","(Genève, Switzerland, (46.2017559, 6.1466014))","(46n2018, 6e1466)",None

I need to figure out how many 'None' charts I have.

In [345]:
#best_df_everer.info(verbose=True)
best_df_everer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 8 columns):
name          213 non-null object
occupation    213 non-null object
count         213 non-null int64
birthtime     205 non-null object
birthplace    205 non-null object
location      183 non-null object
point         183 non-null object
chart         136 non-null object
dtypes: int64(1), object(7)
memory usage: 13.4+ KB

I'm thinking at this point I should get rid of any rows that have no chart.

In [346]:
best_df_everest = best_df_everer

In [347]:
# df[df['column name'].map(lambda x: str(x)!=".")]
best_df_everest = best_df_everest[best_df_everest['chart'].map(lambda x: x!=None)]

In [349]:
best_df_everest.head(20)

,name,occupation,count,birthtime,birthplace,location,point,chart
1,Noam_Chomsky,r_philosophers,1,"[1928, 1, 7, 07:00]","Philadelphia, Pennsylvania, United States","(Philadelphia, Philadelphia County, Pennsylvan...","(39n9527, 75w1635)",<flatlib.chart.Chart object at 0x617e648d0>
2,Albert_Camus,r_philosophers,2,"[1913, 1, 7, 02:00]","Mondovi, Algeria","(Drean, Daïra Drean, El Tarf الطارف, الجزائر, ...","(36n6851, 7e7471)",<flatlib.chart.Chart object at 0x617e7d6a0>
3,Mahatma_Gandhi,r_philosophers,3,"[1869, 1, 2, 07:08]","Porbandar, India","(Porbandar, Porbandar Taluka, Porbandar Distri...","(21n6409, 69e611)",<flatlib.chart.Chart object at 0x617f0a518>
5,Denis_Diderot,r_philosophers,5,"[1713, 1, 5, 17:00]","Langres, France","(Langres, Haute-Marne, Grand Est, France métro...","(47n8656, 5e3314)",<flatlib.chart.Chart object at 0x617f0ae80>
7,Johann_Gottfried_Herder,r_philosophers,7,"[1744, 1, 25, 23:30]","Mohrungen, Poland","(Morąg, gmina Morąg, powiat ostródzki, wojewód...","(53n912, 19e928)",<flatlib.chart.Chart object at 0x617f0ab70>
8,Soeren_Kierkegaard,r_philosophers,8,"[1813, 1, 5]","Copenhagen, Denmark","(København, Københavns Kommune, Region Hovedst...","(55n6867, 12e5701)",<flatlib.chart.Chart object at 0x617f2d1d0>
9,Friedrich_Nietzsche,r_philosophers,9,"[1844, 1, 15, 10:00]","Roecken, Germany","(Röcken, Lützen, Burgenlandkreis, Sachsen-Anha...","(51n242, 12e1143)",<flatlib.chart.Chart object at 0x617f2d2e8>
10,Bertrand_Russell,r_philosophers,10,"[1872, 1, 18, 17:45]","Trelleck, Wales, United Kingdom","(Trelleck Grange, Devauden, Monmouthshire, Wal...","(51n7111, 2w7356)",<flatlib.chart.Chart object at 0x617f3eef0>
11,Philip_K._Dick,r_philosophers,11,"[1928, 1, 16, 12:15]","Chicago, Illinois, United States","(Chicago, Cook County, Illinois, United States...","(41n8756, 87w6244)",<flatlib.chart.Chart object at 0x617e50320>
13,Karl_Marx,r_philosophers,13,"[1818, 1, 5, 02:00]","Trier, Germany","(Trier, Rheinland-Pfalz, 54290, Deutschland, (...","(49n7596, 6e6442)",<flatlib.chart.Chart object at 0x617f3ed30>
15,Ernst_Bloch,r_philosophers,15,"[1885, 1, 8, 08:00]","Ludwigshafen, Germany","(Ludwigshafen am Rhein, Rheinland-Pfalz, 67061...","(49n4704, 8e4382)",<flatlib.chart.Chart object at 0x617e48a90>
19,Gilles_Deleuze,r_philosophers,19,"[1925, 1, 18, 02:45]","Paris, France","(Paris, Île-de-France, France métropolitaine, ...","(48n8567, 2e3515)",<flatlib.chart.Chart object at 0x617e48780>
20,Friedrich_Engels,r_philosophers,20,"[1820, 1, 28, 21:00]","Wuppertal, Germany","(Wuppertal, Nordrhein-Westfalen, 42285, Deutsc...","(51n264, 7e178)",<flatlib.chart.Chart object at 0x617e81ac8>
21,Ludwig_Feuerbach,r_philosophers,21,"[1804, 1, 28, 01:30]","Landshut, Germany","(Landshut, Bayern, Deutschland, (48.536217, 12...","(48n5362, 12e1517)",<flatlib.chart.Chart object at 0x617e81c88>
22,Michel_Foucault,r_philosophers,22,"[1926, 1, 15, 07:30]","Poitiers, France","(Poitiers, Vienne, Nouvelle-Aquitaine, France ...","(46n5803, 0e3402)",<flatlib.chart.Chart object at 0x617ebe0f0>
23,Erich_Fromm,r_philosophers,23,"[1900, 1, 23, 19:30]","Frankfurt, Germany","(Frankfurt am Main, Hessen, Deutschland, (50.1...","(50n1106, 8e6821)",<flatlib.chart.Chart object at 0x617ebe5c0>
24,David_Hume,r_philosophers,24,"[1711, 1, 7]","Edinburgh, Scotland, United Kingdom","(Edinburgh, City of Edinburgh, Scotland, EH1 3...","(55n9533, 3w1884)",<flatlib.chart.Chart object at 0x617ec1048>
25,Emmanuel_Lasker,r_philosophers,25,"[1868, 1, 24, 15:00]","Berlin, Germany","(Berlin, Deutschland, (52.5170365, 13.3888599))","(52n517, 13e3889)",<flatlib.chart.Chart object at 0x617ec1f60>
26,Maria_Montessori,r_philosophers,26,"[1870, 1, 31, 03:30]","Chiaravalle, Italy","(Chiaravalle, Ancona, Marche, 60033, Italia, (...","(43n6027, 13e3246)",<flatlib.chart.Chart object at 0x617ec54e0>
28,Rudolf_Steiner,r_philosophers,28,"[1861, 1, 25, 23:15]","Donji Kraljevec, Croatia","(Donji Kraljevec, Općina Donji Kraljevec, Međi...","(46n368, 16e6486)",<flatlib.chart.Chart object at 0x617ec52b0>

Sweet, it works!!

I'm just gonna export this as a csv.

In [350]:
best_df_everest.to_csv('r_philosophers_charted.csv', index=False)